This notebook is dedicated to data collection, cleaning and creation of work files for the study of the public/private distribution of French schools

### 1. Importing librairies

In [70]:
import time
startTime = time.time()
 
import pandas as pd
import os
import requests

### 2. Creating the relevant folders and paths

In [71]:
# Defining current folder as our main directory
dirname = os.getcwd()

# location folders variables
data_in = dirname + "\\da_data_raw\\" #raw data
data_out = dirname + "\\da_data_workfiles\\" #clean data
graph_out = dirname + "\\graphs\\" #graphs
html_graph_out = "C:\\Users\\33671\\Documents\\my-website\\html5up-massively\\images\\graphs\\" #graphs to be used for html report

# Checking if data_in path is not present, then create it
if not os.path.exists(data_in):
    os.makedirs(data_in)
    print(f"Directory Created: {data_in}")
else: 
    print(f"Already existing directory: {data_in}")
    
# Checking if data_out path is not present then create it
if not os.path.exists(data_out):
    os.makedirs(data_out)
    print(f"Directory Created: {data_out}")
else:
    print(f"Already existing directory: {data_out}")
    
# Checking if data_out path is not present then create it
if not os.path.exists(graph_out):
    os.makedirs(graph_out)
    print(f"Directory Created: {graph_out}")
else:
    print(f"Already existing directory: {graph_out}")    

# Printing main directories we will work with
print(f"\nMain directory: {dirname}")
print(f"Raw data folder: {data_in}")
print(f"Workfile folder: {data_out}")

Already existing directory: c:\Users\33671\Documents\Python\IPS\da_data_raw\
Already existing directory: c:\Users\33671\Documents\Python\IPS\da_data_workfiles\
Already existing directory: c:\Users\33671\Documents\Python\IPS\graphs\

Main directory: c:\Users\33671\Documents\Python\IPS
Raw data folder: c:\Users\33671\Documents\Python\IPS\da_data_raw\
Workfile folder: c:\Users\33671\Documents\Python\IPS\da_data_workfiles\

### 3. Verifying APIs responses

In [72]:
#fr-en-ips_colleges
dataset_id = "fr-en-ips_colleges"
format = "json"
limit = "10"
r = requests.get(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}", 
                 timeout=2)
print(f"{dataset_id}")
print(f"URL: {r.url}")
print(f"HTTP Response Status Code: {r.status_code}") 
print(f"HTTP Error: {r.raise_for_status()}")
print(f"Encoding: {r.encoding}\n")
r.close()

#fr-en-ips_ecoles
dataset_id = "fr-en-ips_ecoles"
format = "json"
limit = "10"
r = requests.get(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}", 
                 timeout=2)
print(f"{dataset_id}")
print(f"URL: {r.url}")
print(f"HTTP Response Status Code: {r.status_code}") 
print(f"HTTP Error: {r.raise_for_status()}")
print(f"Encoding: {r.encoding}\n")
r.close()

#fr-en-dnb-par-etablissement
dataset_id = "fr-en-dnb-par-etablissement"
format = "json"
limit = "10"
r = requests.get(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}", 
                 timeout=2)
print(f"{dataset_id}")
print(f"URL: {r.url}")
print(f"HTTP Response Status Code: {r.status_code}") 
print(f"HTTP Error: {r.raise_for_status()}")
print(f"Encoding: {r.encoding}\n")
r.close()

#fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre
dataset_id = "fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre"
format = "json"
limit = "10"
r = requests.get(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}", 
                 timeout=2)
print(f"{dataset_id}")
print(f"URL: {r.url}")
print(f"HTTP Response Status Code: {r.status_code}") 
print(f"HTTP Error: {r.raise_for_status()}")
print(f"Encoding: {r.encoding}\n")
r.close()

#fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre
dataset_id = "fr-en-ecoles-effectifs-nb_classes"
format = "json"
limit = "10"
r = requests.get(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}", 
                 timeout=2)
print(f"{dataset_id}")
print(f"URL: {r.url}")
print(f"HTTP Response Status Code: {r.status_code}") 
print(f"HTTP Error: {r.raise_for_status()}")
print(f"Encoding: {r.encoding}\n")
r.close()


#georef-france-commune
# dataset_id = "georef-france-commune"
# format = "json"
# limit = "10"
# r = requests.get(f"https://public.opendatasoft.com/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}", 
#                  timeout=2)
# print(f"{dataset_id}")
# print(f"URL: {r.url}")
# print(f"HTTP Response Status Code: {r.status_code}") 
# print(f"HTTP Error: {r.raise_for_status()}")
# print(f"Encoding: {r.encoding}\n")
# r.close()

fr-en-ips_colleges
URL: https://data.education.gouv.fr/api/v2/catalog/datasets/fr-en-ips_colleges/exports/json?limit=10
HTTP Response Status Code: 200
HTTP Error: None
Encoding: utf-8

fr-en-ips_ecoles
URL: https://data.education.gouv.fr/api/v2/catalog/datasets/fr-en-ips_ecoles/exports/json?limit=10
HTTP Response Status Code: 200
HTTP Error: None
Encoding: utf-8

fr-en-dnb-par-etablissement
URL: https://data.education.gouv.fr/api/v2/catalog/datasets/fr-en-dnb-par-etablissement/exports/json?limit=10
HTTP Response Status Code: 200
HTTP Error: None
Encoding: utf-8

fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre
URL: https://data.education.gouv.fr/api/v2/catalog/datasets/fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre/exports/json?limit=10
HTTP Response Status Code: 200
HTTP Error: None
Encoding: utf-8

fr-en-ecoles-effectifs-nb_classes
URL: https://data.education.gouv.fr/api/v2/catalog/datasets/fr-en-ecoles-effectifs-nb_classes/exports/json?limit=10
HTTP Response Status Code: 200
HTTP Error: None
Encoding: utf-8

### 4. Data Collection

##### ips_colleges dataset

In [73]:
# Loading data
dataset_id = "fr-en-ips_colleges"
format = "json"
limit = "-1" # argument to pass to get the full dataset 
df_raw_ips_colleges = pd.read_json(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}")

In [74]:
df_raw_ips_colleges.sample(5)

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips
2715,2021-2022,LYON,001,AIN,0010008D,COLLEGE SAINT EXUPERY,01033,VALSERHONE,public,96.8
4068,2021-2022,MARTINIQUE,972,MARTINIQUE,9720855X,COLLEGE PRIVE SAINT JEAN PAUL II,97209,FORT DE FRANCE,privé sous contrat,94.2
2673,2021-2022,GUADELOUPE,971,GUADELOUPE,9710029E,COLLEGE COURBARIL,97121,POINTE NOIRE,public,91.5
31,2021-2022,CLERMONT-FERRAND,003,ALLIER,0030062B,COLLEGE ANNE DE BEAUJEU,03190,MOULINS,public,105.5
187,2021-2022,POITIERS,017,CHARENTE-MARITIME,0171129K,COLLEGE ANDRE DULIN,17003,AIGREFEUILLE D AUNIS,public,108.6

##### ips_ecoles dataset

In [75]:
# Loading data
dataset_id = "fr-en-ips_ecoles"
format = "json"
limit = "-1" # argument to pass to get the full dataset 
df_raw_ips_ecoles = pd.read_json(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}")

In [76]:
df_raw_ips_ecoles.sample(5)

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips
24429,2021-2022,BESANCON,025,DOUBS,0251628J,ECOLE ELEMENTAIRE FANART,25056,BESANCON,public,111.8
22686,2021-2022,LILLE,059,NORD,0592145L,ECOLE ELEMENTAIRE MARCEL BENOIST,59526,SAINT AMAND LES EAUX,public,71.1
28687,2021-2022,NANTES,053,MAYENNE,0530751D,ECOLE PRIMAIRE PRIVEE SAINT HENRI,53066,CHEMAZE,privé sous contrat,94.6
23484,2021-2022,NICE,006,ALPES-MARITIMES,0060254U,ECOLE PRIMAIRE D APPLICATION LA BASTIDE,06064,GATTIERES,public,126.5
21874,2021-2022,NANTES,044,LOIRE-ATLANTIQUE,0442623M,ECOLE PRIMAIRE PUBLIQUE LUCIE AUBRAC,44173,SAINT LUMINE DE CLISSON,public,110.3

##### dnb-par-etablissement dataset

In [77]:
dataset_id = "fr-en-dnb-par-etablissement"
format = "json"
limit = "-1" # argument to pass to get the full dataset 
df_raw_dnb_par_etablissement = pd.read_json(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}")

In [78]:
df_raw_dnb_par_etablissement.sample(5)

,session,numero_d_etablissement,denomination_principale,patronyme,secteur_d_enseignement,commune_et_arrondissement,commune_et_arrondissement_lib_l,departement,departement_libelle,academie,...,region,region_libelle,nombre_d_inscrits,nombre_de_presents,nombre_total_d_admis,nombre_d_admis_sans_mention,nombre_d_admis_mention_ab,nombre_d_admis_mention_b,nombre_d_admis_mention_tb,taux_de_reussite
89436,2010,0180796T,COLLEGE,STE MARIE ST DOMINIQUE,PRIVE,18033,BOURGES,018,CHER,18,...,4,CENTRE-VAL DE LOIRE,185,183,172,57,57,40,18,"93,90%"
73412,2020,9740574F,COLLEGE,PAUL HERMANN,PUBLIC,97416,SAINT-PIERRE,974,LA REUNION,28,...,11,LA REUNION,163,163,135,29,34,36,36,"82,80%"
13145,2010,0220045E,COLLEGE,FRANCOIS-MARIE LUZEL,PUBLIC,22207,PLOUARET,022,COTES D'ARMOR,14,...,3,BRETAGNE,42,41,31,14,6,8,3,"75,60%"
177,2007,0330176M,LYCEE PROFESSIONNEL,DU BLAYAIS,PRIVE,33058,BLAYE,033,GIRONDE,4,...,15,NOUVELLE-AQUITAINE,65,62,56,49,7,0,0,"90,30%"
1222,2007,0850142T,LYCEE,NOTRE DAME,PRIVE,85047,CHALLANS,085,VENDEE,17,...,17,PAYS DE LA LOIRE,28,28,27,6,19,2,0,"96,40%"

In [79]:
# Check school type distribution based on last avaiable year results
df_raw_dnb_par_etablissement[df_raw_dnb_par_etablissement['session'] == 2021]['denomination_principale'].value_counts()

COLLEGE                6942
LYCEE PROFESSIONNEL    1315
LYCEE                   481
EREA                     58
AUTRE                    17
CFA                       3
Name: denomination_principale, dtype: int64

##### fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre dataset

In [80]:
# Loading data
dataset_id = "fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre"
format = "json"
limit = "-1" # argument to pass to get the full dataset 
df_raw_geolocalisation = pd.read_json(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}")

In [81]:
df_raw_geolocalisation.sample(5)

,numero_uai,appellation_officielle,denomination_principale,patronyme_uai,secteur_public_prive_libe,adresse_uai,lieu_dit_uai,boite_postale_uai,code_postal_uai,localite_acheminement_uai,...,code_commune,libelle_departement,libelle_region,libelle_academie,position,secteur_prive_code_type_contrat,secteur_prive_libelle_type_contrat,code_ministere,libelle_ministere,date_ouverture
13653,0602151M,Ecole primaire privée hors contrat Don Bosco,ECOLE PRIMAIRE PRIVEE,DON BOSCO,Privé,17 rue Du Four St jacques,None,None,60200,COMPIEGNE,...,60159,Oise,Hauts-de-France,Amiens,"{'lon': 2.796410200468104, 'lat': 49.393370606...",10.0,HORS CONTRAT,6,MINISTERE DE L'EDUCATION NATIONALE,2015-09-08
63178,0421951T,Ecole primaire Jules Ferry,ECOLE PRIMAIRE PUBLIQUE,JULES FERRY PRIMAIRE,Public,1 RUE ALEXANDRE POURCEL,None,None,42100,ST ETIENNE,...,42218,Loire,Auvergne-Rhône-Alpes,Lyon,"{'lon': 4.392750204695138, 'lat': 45.423455633...",99.0,SANS OBJET,6,MINISTERE DE L'EDUCATION NATIONALE,1987-09-01
3910,0301738B,Ecole primaire Le Pansera,ECOLE PRIMAIRE,LE PANSERA,Public,Place Georges Dupuy,None,None,30100,ALES,...,30007,Gard,Occitanie,Montpellier,"{'lon': 4.070639618108808, 'lat': 44.124794273...",99.0,SANS OBJET,6,MINISTERE DE L'EDUCATION NATIONALE,2004-09-01
53088,0600878D,Ecole primaire,ECOLE PRIMAIRE PUBLIQUE,None,Public,13 rue des Ressons,LE DELUGE,None,60790,LA DRENNE,...,60196,Oise,Hauts-de-France,Amiens,"{'lon': 2.10943010523675, 'lat': 49.297040851701}",99.0,SANS OBJET,6,MINISTERE DE L'EDUCATION NATIONALE,1967-04-21
64468,0560122D,Collège privé Saint Jean-Baptiste,COLLEGE PRIVE,ST JEAN-BAPTISTE,Privé,18 rue BOURUET-AUBERTOT,None,None,56610,ARRADON,...,56003,Morbihan,Bretagne,Rennes,"{'lon': -2.821489394472326, 'lat': 47.63074767...",30.0,CONTRAT D'ASSOCIATION TOUTES CLASSES,6,MINISTERE DE L'EDUCATION NATIONALE,1967-04-20

##### georef-france-commune

In [82]:
# dataset_id = "georef-france-commune"
# format = "json"
# limit = "-1" # argument to pass to get the full dataset 
# columns = "bv2012_code" + "%2C" + "bv2012_name" + "%2C" + "com_uu2020_status" 
# df_raw_georef = pd.read_json(f"https://public.opendatasoft.com/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}&select={columns}")

##### typo-rur

In [83]:
df_raw_typo_rur = pd.read_csv('./da_data_raw/typo-rur.csv')
df_raw_typo_rur

      codgeo                   libgeo zonage_rur
0      01001  L'Abergement-Clémenciat        tr2
1      01002    L'Abergement-de-Varey        tr1
2      01004        Ambérieu-en-Bugey        tr5
3      01005      Ambérieux-en-Dombes        tr3
4      01006                  Ambléon        tr1
...      ...                      ...        ...
34960  97613            M'Tsangamouji        tr5
34961  97614                 Ouangani        tr5
34962  97615                 Pamandzi        tr5
34963  97616                     Sada        tr5
34964  97617                 Tsingoni        tr5

[34965 rows x 3 columns]

In [84]:
df_raw_typo_rur['zonage_rur'].value_counts()

tr1    8108
tr2    8096
tr3    7394
tr4    7174
tr5    3419
tr6     774
Name: zonage_rur, dtype: int64

In [85]:
df_raw_typo_rur['zonage_rur'] = df_raw_typo_rur['zonage_rur'].map({'tr1': 1, 
                                                                       'tr2': 2, 
                                                                       'tr3': 3, 
                                                                       'tr4': 4,
                                                                       'tr5': 5,
                                                                       'tr6': 6
                                                                       }
                                                                      )

In [86]:
df_raw_typo_rur['zonage_rur_lib'] = df_raw_typo_rur['zonage_rur'].map({1:'rural autonome très peu dense', 
                                                                       2: 'rural autonome peu dense', 
                                                                       3: 'rural sous faible influence d\'un pole', 
                                                                       4: 'rural sous forte influence d\'un pole',
                                                                       5: 'urbain densité intermédiaire',
                                                                       6: 'urbain dense'
                                                                       }
                                                                      )

In [87]:
df_raw_typo_rur.head()

,codgeo,libgeo,zonage_rur,zonage_rur_lib
0,01001,L'Abergement-Clémenciat,2,rural autonome peu dense
1,01002,L'Abergement-de-Varey,1,rural autonome très peu dense
2,01004,Ambérieu-en-Bugey,5,urbain densité intermédiaire
3,01005,Ambérieux-en-Dombes,3,rural sous faible influence d'un pole
4,01006,Ambléon,1,rural autonome très peu dense

In [88]:
df_raw_typo_rur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34965 entries, 0 to 34964
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   codgeo          34965 non-null  object
 1   libgeo          34965 non-null  object
 2   zonage_rur      34965 non-null  int64
 3   zonage_rur_lib  34965 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

##### Niveau_de_vie_2013_a_la_commune dataset

In [89]:
# Loading data
df_raw_revenus_par_commune = pd.read_excel("https://www.data.gouv.fr/fr/datasets/r/d3ce0107-416f-42cf-a335-d71f89b00b21")

##### Effectifs d’élèves

In [90]:
# Loading data
dataset_id = "fr-en-ecoles-effectifs-nb_classes"
format = "json"
limit = "-1" # argument to pass to get the full dataset 
columns = "rentree_scolaire" + "%2C" + "numero_ecole" + "%2C" + "rep" + "%2C" + "rep_plus" + "%2C" + "nombre_total_eleves" 
df_raw_effectifs = pd.read_json(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}&select={columns}")

In [91]:
df_raw_effectifs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146678 entries, 0 to 146677
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   rentree_scolaire     146678 non-null  int64
 1   numero_ecole         146678 non-null  object
 2   rep                  146678 non-null  int64
 3   rep_plus             146678 non-null  int64
 4   nombre_total_eleves  146678 non-null  int64
dtypes: int64(4), object(1)
memory usage: 5.6+ MB

### 5. Exporting raw data to CSV

In [92]:
# Raw datasets export
file_name = "ips-colleges" + ".csv"
print(f"file name: {file_name}")
df_raw_ips_colleges.to_csv(data_in + file_name, index = False)

file_name = "ips-ecoles" + ".csv"
print(f"file name: {file_name}")
df_raw_ips_ecoles.to_csv(data_in + file_name, index = False)

file_name = "dnb-par-etablissement" + ".csv"
print(f"file name: {file_name}")
df_raw_dnb_par_etablissement.to_csv(data_in + file_name, index = False)

file_name = "geolocalisation-etablissement" + ".csv"
print(f"file name: {file_name}")
df_raw_geolocalisation.to_csv(data_in + file_name, index = False)

file_name = "revenus-par-commune" + ".csv"
print(f"file name: {file_name}")
df_raw_revenus_par_commune.to_csv(data_in + file_name, index = False)

file_name = "ecoles-effectifs" + ".csv"
print(f"file name: {file_name}")
df_raw_effectifs.to_csv(data_in + file_name, index = False)

# file_name = "georef-par-commune" + ".csv"
# print(f"file name: {file_name}")
# df_raw_georef.to_csv(data_in + file_name, index = False)

file name: ips-colleges.csv
file name: ips-ecoles.csv
file name: dnb-par-etablissement.csv
file name: geolocalisation-etablissement.csv
file name: revenus-par-commune.csv
file name: ecoles-effectifs.csv

### 6. Merging data into master file

##### ips_ecoles & ips_colleges dataframes

In [93]:
# Adding columns about the type of school
df_raw_ips_colleges['type_etablissement']="COLLEGE"
df_raw_ips_ecoles['type_etablissement']="ECOLE"

In [94]:
df_master = pd.concat([df_raw_ips_colleges, df_raw_ips_ecoles])

In [95]:
#safety check
print(f"df_raw_ips_colleges N = {len(df_raw_ips_colleges)}")
print(f"df_raw_ips_ecoles N = {len(df_raw_ips_ecoles)}")
print(f"df_master N = {len(df_master)}")
print(len(df_raw_ips_colleges) + len(df_raw_ips_ecoles) == len(df_master))
print(f"unique uai = {df_master['uai'].nunique()}")

df_raw_ips_colleges N = 6967
df_raw_ips_ecoles N = 32091
df_master N = 39058
True
unique uai = 39058

##### dnb_par_etablissement

College certificate success rate is calculated based on admissions devived by attendees (not registrants). We will keep this convention to calculate honors rates

In [96]:
df_raw_dnb_par_etablissement.sample(5)

,session,numero_d_etablissement,denomination_principale,patronyme,secteur_d_enseignement,commune_et_arrondissement,commune_et_arrondissement_lib_l,departement,departement_libelle,academie,...,region,region_libelle,nombre_d_inscrits,nombre_de_presents,nombre_total_d_admis,nombre_d_admis_sans_mention,nombre_d_admis_mention_ab,nombre_d_admis_mention_b,nombre_d_admis_mention_tb,taux_de_reussite
35550,2012,0630039A,COLLEGE,LOUISE MICHEL,PUBLIC,63210,MARINGUES,063,PUY-DE-DOME,6,...,1,AUVERGNE-RHONE-ALPES,99,96,76,28,30,15,3,"79,10%"
87369,2006,0441724K,COLLEGE,LA REINETIERE,PUBLIC,44172,SAINTE-LUCE-SUR-LOIRE,044,LOIRE-ATLANTIQUE,17,...,17,PAYS DE LA LOIRE,135,135,121,38,33,35,15,"89,60%"
61980,2013,0330122D,COLLEGE,FRANCOIS MAURIAC,PUBLIC,33484,SAINT-SYMPHORIEN,033,GIRONDE,4,...,15,NOUVELLE-AQUITAINE,92,91,86,37,25,21,3,"94,50%"
93497,2008,0290236Z,COLLEGE,BREST - RIVE DROITE - JAVOUHEY,PRIVE,29019,BREST,029,FINISTERE,14,...,3,BRETAGNE,29,29,29,10,10,8,1,"100,00%"
60754,2020,0120081Y,COLLEGE,SAINT-MICHEL,PRIVE,12025,BELMONT-SUR-RANCE,012,AVEYRON,16,...,16,OCCITANIE,42,42,40,5,16,8,11,"95,20%"

In [97]:
# renaming key column
df_raw_dnb_par_etablissement = df_raw_dnb_par_etablissement.rename(columns = {'numero_d_etablissement': 'uai'})

In [98]:
#converting dnb string to float
df_raw_dnb_par_etablissement['taux_de_reussite'] = df_raw_dnb_par_etablissement['taux_de_reussite'].str.strip('%').str.replace(',', '.')
df_raw_dnb_par_etablissement['taux_de_reussite'] = df_raw_dnb_par_etablissement['taux_de_reussite'].astype('float')

In [99]:
df_raw_dnb_par_etablissement['dnb_taux_de_sans_mention'] = df_raw_dnb_par_etablissement['nombre_d_admis_sans_mention'] / df_raw_dnb_par_etablissement['nombre_de_presents']
df_raw_dnb_par_etablissement['dnb_taux_de_mention_ab'] = df_raw_dnb_par_etablissement['nombre_d_admis_mention_ab'] / df_raw_dnb_par_etablissement['nombre_de_presents']
df_raw_dnb_par_etablissement['dnb_taux_de_mention_b'] = df_raw_dnb_par_etablissement['nombre_d_admis_mention_b'] / df_raw_dnb_par_etablissement['nombre_de_presents']
df_raw_dnb_par_etablissement['dnb_taux_de_mention_tb'] = df_raw_dnb_par_etablissement['nombre_d_admis_mention_tb'] / df_raw_dnb_par_etablissement['nombre_de_presents']
df_raw_dnb_par_etablissement.sample(5)

,session,uai,denomination_principale,patronyme,secteur_d_enseignement,commune_et_arrondissement,commune_et_arrondissement_lib_l,departement,departement_libelle,academie,...,nombre_total_d_admis,nombre_d_admis_sans_mention,nombre_d_admis_mention_ab,nombre_d_admis_mention_b,nombre_d_admis_mention_tb,taux_de_reussite,dnb_taux_de_sans_mention,dnb_taux_de_mention_ab,dnb_taux_de_mention_b,dnb_taux_de_mention_tb
48848,2014,0520822L,COLLEGE,CRESSOT,PUBLIC,52250,JOINVILLE,052,HAUTE-MARNE,19,...,72,37,13,12,10,82.7,0.425287,0.149425,0.137931,0.114943
25254,2017,0170051N,LYCEE,LOUIS AUDOUIN DUBREUIL,PUBLIC,17347,SAINT-JEAN-D'ANGELY,017,CHARENTE-MARITIME,13,...,10,6,4,0,0,76.9,0.461538,0.307692,0.000000,0.000000
9973,2011,0752894N,COLLEGE,SAINTE-JEANNE ELISABETH,PRIVE,75107,PARIS 7E ARRONDISSEMENT,075,PARIS,1,...,82,36,32,14,0,95.3,0.418605,0.372093,0.162791,0.000000
80172,2010,0470012H,COLLEGE,JEAN ROSTAND,PUBLIC,47052,CASTELJALOUX,047,LOT-ET-GARONNE,4,...,75,31,28,11,5,91.4,0.378049,0.341463,0.134146,0.060976
124474,2021,0062122Z,COLLEGE,COLLEGE JENNY DAGUL,PRIVE,06029,CANNES,006,ALPES-MARITIMES,23,...,6,0,2,0,4,100.0,0.000000,0.333333,0.000000,0.666667

In [100]:
# Removing columns
df_raw_dnb_par_etablissement.drop(columns=['nombre_d_admis_sans_mention', 'nombre_d_admis_mention_ab', 'nombre_d_admis_mention_b', 'nombre_d_admis_mention_tb'], 
        errors='ignore', 
        inplace=True)
df_raw_dnb_par_etablissement.sample(5)

,session,uai,denomination_principale,patronyme,secteur_d_enseignement,commune_et_arrondissement,commune_et_arrondissement_lib_l,departement,departement_libelle,academie,...,region,region_libelle,nombre_d_inscrits,nombre_de_presents,nombre_total_d_admis,taux_de_reussite,dnb_taux_de_sans_mention,dnb_taux_de_mention_ab,dnb_taux_de_mention_b,dnb_taux_de_mention_tb
80035,2010,0381888W,LYCEE PROFESSIONNEL,ET ANIMALIER,PUBLIC,38509,LA TOUR-DU-PIN,038,ISERE,8,...,1,AUVERGNE-RHONE-ALPES,17,17,12,70.5,0.235294,0.352941,0.117647,0.000000
63034,2013,0570093S,COLLEGE,JOSEPH CRESSOT,PUBLIC,57628,SARRALBE,057,MOSELLE,12,...,6,GRAND EST,110,109,90,82.5,0.330275,0.238532,0.155963,0.100917
12747,2009,0930970Z,COLLEGE,TEBROTZASSERE,PRIVE,93062,LE RAINCY,093,SEINE-SAINT-DENIS,24,...,10,ILE-DE-FRANCE,28,28,28,100.0,0.142857,0.321429,0.285714,0.250000
33733,2010,0430023S,LYCEE PROFESSIONNEL,AUGUSTE AYMARD,PUBLIC,43089,ESPALY-SAINT-MARCEL,043,HAUTE-LOIRE,6,...,1,AUVERGNE-RHONE-ALPES,18,15,12,80.0,0.466667,0.333333,0.000000,0.000000
120395,2015,0071234D,LYCEE PROFESSIONNEL,LAMASTRE,PRIVE,07129,LAMASTRE,007,ARDECHE,8,...,1,AUVERGNE-RHONE-ALPES,19,19,17,89.4,0.421053,0.263158,0.210526,0.000000

In [101]:
#creating sub-dataframe for college cerficate dataframe based on session year  
dfs_dnb_par_etablissement = {}
for session in df_raw_dnb_par_etablissement['session'].unique():
    dfs_dnb_par_etablissement[session] = pd.DataFrame(df_raw_dnb_par_etablissement[df_raw_dnb_par_etablissement['session'] == session])
    dfs_dnb_par_etablissement[session] = dfs_dnb_par_etablissement[session].rename(columns = 
                                                                                   {'nombre_d_inscrits': f'dnb_nombre_d_inscrits_{session}', 
                                                                                    'nombre_de_presents': f'dnb_nombre_de_presents_{session}',
                                                                                    'nombre_total_d_admis': f'dnb_nombre_de_presents_{session}',
                                                                                    'taux_de_reussite': f'dnb_taux_de_reussite_{session}',
                                                                                    'dnb_taux_de_sans_mention': f'dnb_taux_de_sans_mention_{session}',
                                                                                    'dnb_taux_de_mention_ab': f'dnb_taux_de_mention_ab_{session}',
                                                                                    'dnb_taux_de_mention_b': f'dnb_taux_de_mention_b_{session}',
                                                                                    'dnb_taux_de_mention_tb': f'dnb_taux_de_mention_tb_{session}',
                                                                                    })
    print(f"{session}: {len(dfs_dnb_par_etablissement[session])}")

2007: 8623
2008: 8656
2011: 8696
2012: 8697
2006: 8562
2009: 8672
2010: 8646
2013: 8732
2014: 8746
2019: 8797
2020: 8807
2015: 8752
2017: 8796
2018: 8802
2016: 8780
2021: 8816

In [102]:
df_master.head()

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,type_etablissement
0,2021-2022,LYON,001,AIN,0010025X,COLLEGE PAUL SIXDENIER,01185,PLATEAU D HAUTEVILLE,public,110.4,COLLEGE
1,2021-2022,LYON,001,AIN,0010041P,COLLEGE VAUGELAS,01244,MEXIMIEUX,public,111.4,COLLEGE
2,2021-2022,LYON,001,AIN,0010092V,COLLEGE PRIVE SAINT JOSEPH,01283,OYONNAX,privé sous contrat,111.3,COLLEGE
3,2021-2022,LYON,001,AIN,0010896U,COLLEGE INTERNATIONAL,01160,FERNEY VOLTAIRE,public,122.6,COLLEGE
4,2021-2022,LYON,001,AIN,0010938P,COLLEGE LES COTES,01289,PERONNAS,public,102.2,COLLEGE

In [103]:
# merging
for session in df_raw_dnb_par_etablissement['session'].unique():
    # df_master = df_master.join(dfs_dnb_par_etablissement[session].set_index('uai'), on='uai', how='left', rsuffix=session)
    # print(session)
    df_master = pd.merge(df_master,dfs_dnb_par_etablissement[session][['uai', f'dnb_nombre_d_inscrits_{session}']], on='uai', how='left')
    df_master = pd.merge(df_master,dfs_dnb_par_etablissement[session][['uai', f'dnb_nombre_de_presents_{session}']], on='uai', how='left')
    df_master = pd.merge(df_master,dfs_dnb_par_etablissement[session][['uai', f'dnb_taux_de_reussite_{session}']], on='uai', how='left')
    df_master = pd.merge(df_master,dfs_dnb_par_etablissement[session][['uai', f'dnb_taux_de_sans_mention_{session}']], on='uai', how='left')
    df_master = pd.merge(df_master,dfs_dnb_par_etablissement[session][['uai', f'dnb_taux_de_mention_ab_{session}']], on='uai', how='left')
    df_master = pd.merge(df_master,dfs_dnb_par_etablissement[session][['uai', f'dnb_taux_de_mention_b_{session}']], on='uai', how='left')
    df_master = pd.merge(df_master,dfs_dnb_par_etablissement[session][['uai', f'dnb_taux_de_mention_tb_{session}']], on='uai', how='left')
    
    
df_master.head()

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,...,dnb_taux_de_mention_b_2016,dnb_taux_de_mention_tb_2016,dnb_nombre_d_inscrits_2021,dnb_nombre_de_presents_2021,dnb_nombre_de_presents_2021,dnb_taux_de_reussite_2021,dnb_taux_de_sans_mention_2021,dnb_taux_de_mention_ab_2021,dnb_taux_de_mention_b_2021,dnb_taux_de_mention_tb_2021
0,2021-2022,LYON,001,AIN,0010025X,COLLEGE PAUL SIXDENIER,01185,PLATEAU D HAUTEVILLE,public,110.4,...,0.119403,0.059701,61.0,61.0,58.0,95.1,0.114754,0.327869,0.196721,0.311475
1,2021-2022,LYON,001,AIN,0010041P,COLLEGE VAUGELAS,01244,MEXIMIEUX,public,111.4,...,0.209402,0.145299,236.0,233.0,207.0,88.8,0.111588,0.236052,0.227468,0.313305
2,2021-2022,LYON,001,AIN,0010092V,COLLEGE PRIVE SAINT JOSEPH,01283,OYONNAX,privé sous contrat,111.3,...,0.211111,0.133333,120.0,120.0,111.0,92.5,0.166667,0.233333,0.300000,0.225000
3,2021-2022,LYON,001,AIN,0010896U,COLLEGE INTERNATIONAL,01160,FERNEY VOLTAIRE,public,122.6,...,0.247619,0.271429,242.0,235.0,214.0,91.1,0.119149,0.187234,0.268085,0.336170
4,2021-2022,LYON,001,AIN,0010938P,COLLEGE LES COTES,01289,PERONNAS,public,102.2,...,0.203008,0.157895,141.0,141.0,131.0,92.9,0.156028,0.290780,0.255319,0.226950

In [104]:
df_master.rename(columns = {'code_du_departement':'code_departement', 
                            'nom_de_l_etablissment':'nom_etablissment',
                            'code_insee_de_la_commune':'code_insee_commune',
                            'nom_de_la_commune':'commune',
                            }, inplace = True)

In [105]:
# Moving columns
uai = df_master.pop('uai')
df_master.insert(0, 'uai', uai)
del uai

nom_etablissment = df_master.pop('nom_etablissment')
df_master.insert(1, 'nom_etablissment', nom_etablissment)
del nom_etablissment

type = df_master.pop('type_etablissement')
df_master.insert(3, 'type_etablissement', type)
del type

rentree_scolaire = df_master.pop('rentree_scolaire')
df_master.insert(11, 'rentree_scolaire', rentree_scolaire)
del rentree_scolaire

df_master.sample(5)

C:\Users\33671\AppData\Local\Temp\ipykernel_19492\3025118716.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_master.insert(0, 'uai', uai)
C:\Users\33671\AppData\Local\Temp\ipykernel_19492\3025118716.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_master.insert(1, 'nom_etablissment', nom_etablissment)
C:\Users\33671\AppData\Local\Temp\ipykernel_19492\3025118716.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_master.insert(3, 'type_etablissement', type)
C:\Users\33671\AppData\Local\Temp\ipykernel_19492\3025118716.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_master.insert(11, 'rentree_scolaire', rentree_scolaire)

,uai,nom_etablissment,type_etablissement,academie,code_departement,departement,code_insee_commune,commune,secteur,ips,...,dnb_taux_de_mention_b_2016,dnb_taux_de_mention_tb_2016,dnb_nombre_d_inscrits_2021,dnb_nombre_de_presents_2021,dnb_nombre_de_presents_2021,dnb_taux_de_reussite_2021,dnb_taux_de_sans_mention_2021,dnb_taux_de_mention_ab_2021,dnb_taux_de_mention_b_2021,dnb_taux_de_mention_tb_2021
11076,0370943Z,ECOLE ELEMENTAIRE MAUPAS PHILIPPE,ECOLE,ORLEANS-TOURS,037,INDRE-ET-LOIRE,37203,ROCHECORBON,public,125.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4707,0470026Y,COLLEGE JOSEPH KESSEL,COLLEGE,BORDEAUX,047,LOT-ET-GARONNE,47175,MONFLANQUIN,public,103.5,...,0.157143,0.171429,96.0,96.0,84.0,87.5,0.322917,0.145833,0.125,0.28125
36867,0681449F,RPI DE LA PETITE DOLLER,ECOLE,STRASBOURG,068,HAUT-RHIN,68011,ASPACH LE BAS,public,122.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10779,0331792U,ECOLE ELEMENTAIRE,ECOLE,BORDEAUX,033,GIRONDE,33535,TRESSES,public,111.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11295,0400765P,ECOLE PRIMAIRE,ECOLE,BORDEAUX,040,LANDES,40179,MEES,public,106.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df_master.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39058 entries, 0 to 39057
Data columns (total 139 columns):
 #    Column                         Dtype
---   ------                         -----
 0    uai                            object
 1    nom_etablissment               object
 2    type_etablissement             object
 3    academie                       object
 4    code_departement               object
 5    departement                    object
 6    code_insee_commune             object
 7    commune                        object
 8    secteur                        object
 9    ips                            float64
 10   dnb_nombre_d_inscrits_2007     float64
 11   rentree_scolaire               object
 12   dnb_nombre_de_presents_2007    float64
 13   dnb_nombre_de_presents_2007    float64
 14   dnb_taux_de_reussite_2007      float64
 15   dnb_taux_de_sans_mention_2007  float64
 16   dnb_taux_de_mention_ab_2007    float64
 17   dnb_taux_de_mention_b_2007     float64
 18   dnb_taux_de_mention_tb_2007    float64
 19   dnb_nombre_d_inscrits_2008     float64
 20   dnb_nombre_de_presents_2008    float64
 21   dnb_nombre_de_presents_2008    float64
 22   dnb_taux_de_reussite_2008      float64
 23   dnb_taux_de_sans_mention_2008  float64
 24   dnb_taux_de_mention_ab_2008    float64
 25   dnb_taux_de_mention_b_2008     float64
 26   dnb_taux_de_mention_tb_2008    float64
 27   dnb_nombre_d_inscrits_2011     float64
 28   dnb_nombre_de_presents_2011    float64
 29   dnb_nombre_de_presents_2011    float64
 30   dnb_taux_de_reussite_2011      float64
 31   dnb_taux_de_sans_mention_2011  float64
 32   dnb_taux_de_mention_ab_2011    float64
 33   dnb_taux_de_mention_b_2011     float64
 34   dnb_taux_de_mention_tb_2011    float64
 35   dnb_nombre_d_inscrits_2012     float64
 36   dnb_nombre_de_presents_2012    float64
 37   dnb_nombre_de_presents_2012    float64
 38   dnb_taux_de_reussite_2012      float64
 39   dnb_taux_de_sans_mention_2012  float64
 40   dnb_taux_de_mention_ab_2012    float64
 41   dnb_taux_de_mention_b_2012     float64
 42   dnb_taux_de_mention_tb_2012    float64
 43   dnb_nombre_d_inscrits_2006     float64
 44   dnb_nombre_de_presents_2006    float64
 45   dnb_nombre_de_presents_2006    float64
 46   dnb_taux_de_reussite_2006      float64
 47   dnb_taux_de_sans_mention_2006  float64
 48   dnb_taux_de_mention_ab_2006    float64
 49   dnb_taux_de_mention_b_2006     float64
 50   dnb_taux_de_mention_tb_2006    float64
 51   dnb_nombre_d_inscrits_2009     float64
 52   dnb_nombre_de_presents_2009    float64
 53   dnb_nombre_de_presents_2009    float64
 54   dnb_taux_de_reussite_2009      float64
 55   dnb_taux_de_sans_mention_2009  float64
 56   dnb_taux_de_mention_ab_2009    float64
 57   dnb_taux_de_mention_b_2009     float64
 58   dnb_taux_de_mention_tb_2009    float64
 59   dnb_nombre_d_inscrits_2010     float64
 60   dnb_nombre_de_presents_2010    float64
 61   dnb_nombre_de_presents_2010    float64
 62   dnb_taux_de_reussite_2010      float64
 63   dnb_taux_de_sans_mention_2010  float64
 64   dnb_taux_de_mention_ab_2010    float64
 65   dnb_taux_de_mention_b_2010     float64
 66   dnb_taux_de_mention_tb_2010    float64
 67   dnb_nombre_d_inscrits_2013     float64
 68   dnb_nombre_de_presents_2013    float64
 69   dnb_nombre_de_presents_2013    float64
 70   dnb_taux_de_reussite_2013      float64
 71   dnb_taux_de_sans_mention_2013  float64
 72   dnb_taux_de_mention_ab_2013    float64
 73   dnb_taux_de_mention_b_2013     float64
 74   dnb_taux_de_mention_tb_2013    float64
 75   dnb_nombre_d_inscrits_2014     float64
 76   dnb_nombre_de_presents_2014    float64
 77   dnb_nombre_de_presents_2014    float64
 78   dnb_taux_de_reussite_2014      float64
 79   dnb_taux_de_sans_mention_2014  float64
 80   dnb_taux_de_mention_ab_2014    float64
 81   dnb_taux_de_mention_b_2014     float64
 82   dnb_taux_de_mention_tb_2014    float64
 83   dnb_nombre_d_inscrits_2019     float64
 84   dnb_nombre_de_presents_2019    float64
 85   dnb_nombre_de_presents_2019    float64
 86   dnb_taux_de_reussite_2019      float64
 87   dnb_taux_de_sans_mention_2019  float64
 88   dnb_taux_de_mention_ab_2019    float64
 89   dnb_taux_de_mention_b_2019     float64
 90   dnb_taux_de_mention_tb_2019    float64
 91   dnb_nombre_d_inscrits_2020     float64
 92   dnb_nombre_de_presents_2020    float64
 93   dnb_nombre_de_presents_2020    float64
 94   dnb_taux_de_reussite_2020      float64
 95   dnb_taux_de_sans_mention_2020  float64
 96   dnb_taux_de_mention_ab_2020    float64
 97   dnb_taux_de_mention_b_2020     float64
 98   dnb_taux_de_mention_tb_2020    float64
 99   dnb_nombre_d_inscrits_2015     float64
 100  dnb_nombre_de_presents_2015    float64
 101  dnb_nombre_de_presents_2015    float64
 102  dnb_taux_de_reussite_2015      float64
 103  dnb_taux_de_sans_mention_2015  float64
 104  dnb_taux_de_mention_ab_2015    float64
 105  dnb_taux_de_mention_b_2015     float64
 106  dnb_taux_de_mention_tb_2015    float64
 107  dnb_nombre_d_inscrits_2017     float64
 108  dnb_nombre_de_presents_2017    float64
 109  dnb_nombre_de_presents_2017    float64
 110  dnb_taux_de_reussite_2017      float64
 111  dnb_taux_de_sans_mention_2017  float64
 112  dnb_taux_de_mention_ab_2017    float64
 113  dnb_taux_de_mention_b_2017     float64
 114  dnb_taux_de_mention_tb_2017    float64
 115  dnb_nombre_d_inscrits_2018     float64
 116  dnb_nombre_de_presents_2018    float64
 117  dnb_nombre_de_presents_2018    float64
 118  dnb_taux_de_reussite_2018      float64
 119  dnb_taux_de_sans_mention_2018  float64
 120  dnb_taux_de_mention_ab_2018    float64
 121  dnb_taux_de_mention_b_2018     float64
 122  dnb_taux_de_mention_tb_2018    float64
 123  dnb_nombre_d_inscrits_2016     float64
 124  dnb_nombre_de_presents_2016    float64
 125  dnb_nombre_de_presents_2016    float64
 126  dnb_taux_de_reussite_2016      float64
 127  dnb_taux_de_sans_mention_2016  float64
 128  dnb_taux_de_mention_ab_2016    float64
 129  dnb_taux_de_mention_b_2016     float64
 130  dnb_taux_de_mention_tb_2016    float64
 131  dnb_nombre_d_inscrits_2021     float64
 132  dnb_nombre_de_presents_2021    float64
 133  dnb_nombre_de_presents_2021    float64
 134  dnb_taux_de_reussite_2021      float64
 135  dnb_taux_de_sans_mention_2021  float64
 136  dnb_taux_de_mention_ab_2021    float64
 137  dnb_taux_de_mention_b_2021     float64
 138  dnb_taux_de_mention_tb_2021    float64
dtypes: float64(129), object(10)
memory usage: 41.7+ MB

##### Merging geolocalisation dataset

In [107]:
df_raw_geolocalisation = df_raw_geolocalisation.rename(columns={'numero_uai': 'uai'})

In [108]:
df_master = df_master.join(df_raw_geolocalisation.set_index('uai'), on='uai', how='left', rsuffix='right')
df_master.sample(5)

,uai,nom_etablissment,type_etablissement,academie,code_departement,departement,code_insee_commune,commune,secteur,ips,...,code_commune,libelle_departement,libelle_region,libelle_academie,position,secteur_prive_code_type_contrat,secteur_prive_libelle_type_contrat,code_ministere,libelle_ministere,date_ouverture
657,0560122D,COLLEGE PRIVE SAINT JEAN BAPTISTE,COLLEGE,RENNES,056,MORBIHAN,56003,ARRADON,privé sous contrat,119.7,...,56003,Morbihan,Bretagne,Rennes,"{'lon': -2.821489394472326, 'lat': 47.63074767...",30.0,CONTRAT D'ASSOCIATION TOUTES CLASSES,6.0,MINISTERE DE L'EDUCATION NATIONALE,1967-04-20
11037,0360676P,ECOLE PRIMAIRE JOSEPH BARBERON,ECOLE,ORLEANS-TOURS,036,INDRE,36162,POULAINES,public,97.3,...,36162,Indre,Centre-Val de Loire,Orléans-Tours,"{'lon': 1.6597104775278, 'lat': 47.15235027457...",99.0,SANS OBJET,6.0,MINISTERE DE L'EDUCATION NATIONALE,1973-06-18
16196,0490741P,ECOLE PRIMAIRE PUBLIQUE LES ROSEAUX,ECOLE,NANTES,049,MAINE-ET-LOIRE,49080,LES HAUTS D ANJOU,public,98.2,...,49080,Maine-et-Loire,Pays de la Loire,Nantes,"{'lon': -0.616381052481058, 'lat': 47.72238044...",99.0,SANS OBJET,6.0,MINISTERE DE L'EDUCATION NATIONALE,1965-10-15
8223,0790249S,ECOLE PRIMAIRE,ECOLE,POITIERS,079,DEUX-SEVRES,79129,FRESSINES,public,117.7,...,79129,Deux-Sèvres,Nouvelle-Aquitaine,Poitiers,"{'lon': -0.29741029752624504, 'lat': 46.323041...",99.0,SANS OBJET,6.0,MINISTERE DE L'EDUCATION NATIONALE,1967-08-02
35762,0560512C,ECOLE PRIMAIRE PUBLIQUE DOCTEUR CALMETTE,ECOLE,RENNES,056,MORBIHAN,56260,VANNES,public,107.6,...,56260,Morbihan,Bretagne,Rennes,"{'lon': -2.771959509704126, 'lat': 47.65772191...",99.0,SANS OBJET,6.0,MINISTERE DE L'EDUCATION NATIONALE,1968-07-03

In [109]:
# Removing joined columns not bringing any or enough value
df_master.drop(columns=['appellation_officielle', 'denomination_principale', 'patronyme_uai', 'secteur_public_prive_libe', 'adresse_uai',
                     'boite_postale_uai', 'localite_acheminement_uai', 'libelle_commune', 'localisation', 'nature_uai_libe',
                     'etat_etablissement', 'etat_etablissement_libe', 'code_departementright', 'code_commune', 'libelle_departement', 'libelle_academie', 
                     'secteur_prive_code_type_contrat', 'secteur_prive_libelle_type_contrat', 'code_ministere', 'libelle_ministere', 'nature_uai', 'lieu_dit_uai'], 
        errors='ignore', 
        inplace=True)

In [110]:
# Moving columns
code_academie = df_master.pop('code_academie')
df_master.insert(3, 'code_academie', code_academie)
del code_academie

code_region = df_master.pop('code_region')
df_master.insert(8, 'code_region', code_region)
del code_region

libelle_region = df_master.pop('libelle_region')
df_master.insert(9, 'libelle_region', libelle_region)
del libelle_region

df_master.sample(5)

,uai,nom_etablissment,type_etablissement,code_academie,academie,code_departement,departement,code_insee_commune,code_region,libelle_region,...,dnb_taux_de_mention_tb_2021,code_postal_uai,coordonnee_x,coordonnee_y,epsg,latitude,longitude,appariement,position,date_ouverture
26950,0750294M,E P PR SAINT LOUIS DE GONZAGUE,ECOLE,1.0,PARIS,075,PARIS,75116,11.0,Ile-de-France,...,NaN,75016.0,647239.6,6862613.3,EPSG:2154,48.861391,2.280860,Parfaite,"{'lon': 2.280860162150874, 'lat': 48.861391211...",1969-01-16
8920,0922023Z,ECOLE PRIMAIRE PUBLIQUE LES BUISSONNETS,ECOLE,25.0,VERSAILLES,092,HAUTS-DE-SEINE,92063,11.0,Ile-de-France,...,NaN,92500.0,640856.2,6863101.9,EPSG:2154,48.865231,2.193790,Parfaite,"{'lon': 2.193790260233847, 'lat': 48.865230595...",1983-08-30
11618,0450334U,ECOLE PRIMAIRE LES RABOLIOTS,ECOLE,18.0,ORLEANS-TOURS,045,LOIRET,45175,24.0,Centre-Val de Loire,...,NaN,45370.0,610961.3,6739195.3,EPSG:2154,47.747121,1.811750,Parfaite,"{'lon': 1.811749571880402, 'lat': 47.747120704...",1966-09-24
39009,9740588W,ECOLE ELEMENTAIRE PUBLIQUE JEAN ALBANY,ECOLE,28.0,LA REUNION,974,LA REUNION,97416,4.0,La Réunion,...,NaN,97410.0,343406.9,7638621.8,EPSG:2975,-21.347678,55.489870,Parfaite,"{'lon': 55.489870125384016, 'lat': -21.3476776...",1972-06-09
1797,0352959B,COLLEGE MARIE CURIE,COLLEGE,14.0,RENNES,035,ILLE-ET-VILAINE,35139,53.0,Bretagne,...,0.395833,35890.0,348517.9,6775127.3,EPSG:2154,47.982081,-1.714052,Moyenne,"{'lon': -1.7140524721419692, 'lat': 47.9820806...",2020-09-01

In [111]:
df_master = df_master.rename(columns={'libelle_region': 'region'})

In [112]:
df_master.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39058 entries, 0 to 39057
Data columns (total 151 columns):
 #    Column                         Dtype
---   ------                         -----
 0    uai                            object
 1    nom_etablissment               object
 2    type_etablissement             object
 3    code_academie                  float64
 4    academie                       object
 5    code_departement               object
 6    departement                    object
 7    code_insee_commune             object
 8    code_region                    float64
 9    region                         object
 10   commune                        object
 11   secteur                        object
 12   ips                            float64
 13   dnb_nombre_d_inscrits_2007     float64
 14   rentree_scolaire               object
 15   dnb_nombre_de_presents_2007    float64
 16   dnb_nombre_de_presents_2007    float64
 17   dnb_taux_de_reussite_2007      float64
 18   dnb_taux_de_sans_mention_2007  float64
 19   dnb_taux_de_mention_ab_2007    float64
 20   dnb_taux_de_mention_b_2007     float64
 21   dnb_taux_de_mention_tb_2007    float64
 22   dnb_nombre_d_inscrits_2008     float64
 23   dnb_nombre_de_presents_2008    float64
 24   dnb_nombre_de_presents_2008    float64
 25   dnb_taux_de_reussite_2008      float64
 26   dnb_taux_de_sans_mention_2008  float64
 27   dnb_taux_de_mention_ab_2008    float64
 28   dnb_taux_de_mention_b_2008     float64
 29   dnb_taux_de_mention_tb_2008    float64
 30   dnb_nombre_d_inscrits_2011     float64
 31   dnb_nombre_de_presents_2011    float64
 32   dnb_nombre_de_presents_2011    float64
 33   dnb_taux_de_reussite_2011      float64
 34   dnb_taux_de_sans_mention_2011  float64
 35   dnb_taux_de_mention_ab_2011    float64
 36   dnb_taux_de_mention_b_2011     float64
 37   dnb_taux_de_mention_tb_2011    float64
 38   dnb_nombre_d_inscrits_2012     float64
 39   dnb_nombre_de_presents_2012    float64
 40   dnb_nombre_de_presents_2012    float64
 41   dnb_taux_de_reussite_2012      float64
 42   dnb_taux_de_sans_mention_2012  float64
 43   dnb_taux_de_mention_ab_2012    float64
 44   dnb_taux_de_mention_b_2012     float64
 45   dnb_taux_de_mention_tb_2012    float64
 46   dnb_nombre_d_inscrits_2006     float64
 47   dnb_nombre_de_presents_2006    float64
 48   dnb_nombre_de_presents_2006    float64
 49   dnb_taux_de_reussite_2006      float64
 50   dnb_taux_de_sans_mention_2006  float64
 51   dnb_taux_de_mention_ab_2006    float64
 52   dnb_taux_de_mention_b_2006     float64
 53   dnb_taux_de_mention_tb_2006    float64
 54   dnb_nombre_d_inscrits_2009     float64
 55   dnb_nombre_de_presents_2009    float64
 56   dnb_nombre_de_presents_2009    float64
 57   dnb_taux_de_reussite_2009      float64
 58   dnb_taux_de_sans_mention_2009  float64
 59   dnb_taux_de_mention_ab_2009    float64
 60   dnb_taux_de_mention_b_2009     float64
 61   dnb_taux_de_mention_tb_2009    float64
 62   dnb_nombre_d_inscrits_2010     float64
 63   dnb_nombre_de_presents_2010    float64
 64   dnb_nombre_de_presents_2010    float64
 65   dnb_taux_de_reussite_2010      float64
 66   dnb_taux_de_sans_mention_2010  float64
 67   dnb_taux_de_mention_ab_2010    float64
 68   dnb_taux_de_mention_b_2010     float64
 69   dnb_taux_de_mention_tb_2010    float64
 70   dnb_nombre_d_inscrits_2013     float64
 71   dnb_nombre_de_presents_2013    float64
 72   dnb_nombre_de_presents_2013    float64
 73   dnb_taux_de_reussite_2013      float64
 74   dnb_taux_de_sans_mention_2013  float64
 75   dnb_taux_de_mention_ab_2013    float64
 76   dnb_taux_de_mention_b_2013     float64
 77   dnb_taux_de_mention_tb_2013    float64
 78   dnb_nombre_d_inscrits_2014     float64
 79   dnb_nombre_de_presents_2014    float64
 80   dnb_nombre_de_presents_2014    float64
 81   dnb_taux_de_reussite_2014      float64
 82   dnb_taux_de_sans_mention_2014  float64
 83   dnb_taux_de_mention_ab_2014    float64
 84   dnb_taux_de_mention_b_2014     float64
 85   dnb_taux_de_mention_tb_2014    float64
 86   dnb_nombre_d_inscrits_2019     float64
 87   dnb_nombre_de_presents_2019    float64
 88   dnb_nombre_de_presents_2019    float64
 89   dnb_taux_de_reussite_2019      float64
 90   dnb_taux_de_sans_mention_2019  float64
 91   dnb_taux_de_mention_ab_2019    float64
 92   dnb_taux_de_mention_b_2019     float64
 93   dnb_taux_de_mention_tb_2019    float64
 94   dnb_nombre_d_inscrits_2020     float64
 95   dnb_nombre_de_presents_2020    float64
 96   dnb_nombre_de_presents_2020    float64
 97   dnb_taux_de_reussite_2020      float64
 98   dnb_taux_de_sans_mention_2020  float64
 99   dnb_taux_de_mention_ab_2020    float64
 100  dnb_taux_de_mention_b_2020     float64
 101  dnb_taux_de_mention_tb_2020    float64
 102  dnb_nombre_d_inscrits_2015     float64
 103  dnb_nombre_de_presents_2015    float64
 104  dnb_nombre_de_presents_2015    float64
 105  dnb_taux_de_reussite_2015      float64
 106  dnb_taux_de_sans_mention_2015  float64
 107  dnb_taux_de_mention_ab_2015    float64
 108  dnb_taux_de_mention_b_2015     float64
 109  dnb_taux_de_mention_tb_2015    float64
 110  dnb_nombre_d_inscrits_2017     float64
 111  dnb_nombre_de_presents_2017    float64
 112  dnb_nombre_de_presents_2017    float64
 113  dnb_taux_de_reussite_2017      float64
 114  dnb_taux_de_sans_mention_2017  float64
 115  dnb_taux_de_mention_ab_2017    float64
 116  dnb_taux_de_mention_b_2017     float64
 117  dnb_taux_de_mention_tb_2017    float64
 118  dnb_nombre_d_inscrits_2018     float64
 119  dnb_nombre_de_presents_2018    float64
 120  dnb_nombre_de_presents_2018    float64
 121  dnb_taux_de_reussite_2018      float64
 122  dnb_taux_de_sans_mention_2018  float64
 123  dnb_taux_de_mention_ab_2018    float64
 124  dnb_taux_de_mention_b_2018     float64
 125  dnb_taux_de_mention_tb_2018    float64
 126  dnb_nombre_d_inscrits_2016     float64
 127  dnb_nombre_de_presents_2016    float64
 128  dnb_nombre_de_presents_2016    float64
 129  dnb_taux_de_reussite_2016      float64
 130  dnb_taux_de_sans_mention_2016  float64
 131  dnb_taux_de_mention_ab_2016    float64
 132  dnb_taux_de_mention_b_2016     float64
 133  dnb_taux_de_mention_tb_2016    float64
 134  dnb_nombre_d_inscrits_2021     float64
 135  dnb_nombre_de_presents_2021    float64
 136  dnb_nombre_de_presents_2021    float64
 137  dnb_taux_de_reussite_2021      float64
 138  dnb_taux_de_sans_mention_2021  float64
 139  dnb_taux_de_mention_ab_2021    float64
 140  dnb_taux_de_mention_b_2021     float64
 141  dnb_taux_de_mention_tb_2021    float64
 142  code_postal_uai                float64
 143  coordonnee_x                   float64
 144  coordonnee_y                   float64
 145  epsg                           object
 146  latitude                       float64
 147  longitude                      float64
 148  appariement                    object
 149  position                       object
 150  date_ouverture                 object
dtypes: float64(136), object(15)
memory usage: 45.3+ MB

##### Merging Niveau_de_vie_2013_a_la_commune dataset

In [113]:
df_raw_revenus_par_commune = df_raw_revenus_par_commune.rename(columns={'Code Commune': 'code_insee_commune'})

In [114]:
df_master = df_master.join(df_raw_revenus_par_commune.set_index('code_insee_commune'), on='code_insee_commune', how='left', rsuffix='right')

In [115]:
# Removing joined columns not bringing any or enough value
df_master.drop(columns=['Nom Commune'], 
        errors='ignore', 
        inplace=True)

In [116]:
# Renaming columns
df_master.rename(columns = {'Niveau de vie Commune':'niveau_de_vie_commune', 
                            'Niveau de vie Département':'niveau_de_vie_departement'
                            }, inplace = True)

In [117]:
df_master.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39058 entries, 0 to 39057
Data columns (total 153 columns):
 #    Column                         Dtype
---   ------                         -----
 0    uai                            object
 1    nom_etablissment               object
 2    type_etablissement             object
 3    code_academie                  float64
 4    academie                       object
 5    code_departement               object
 6    departement                    object
 7    code_insee_commune             object
 8    code_region                    float64
 9    region                         object
 10   commune                        object
 11   secteur                        object
 12   ips                            float64
 13   dnb_nombre_d_inscrits_2007     float64
 14   rentree_scolaire               object
 15   dnb_nombre_de_presents_2007    float64
 16   dnb_nombre_de_presents_2007    float64
 17   dnb_taux_de_reussite_2007      float64
 18   dnb_taux_de_sans_mention_2007  float64
 19   dnb_taux_de_mention_ab_2007    float64
 20   dnb_taux_de_mention_b_2007     float64
 21   dnb_taux_de_mention_tb_2007    float64
 22   dnb_nombre_d_inscrits_2008     float64
 23   dnb_nombre_de_presents_2008    float64
 24   dnb_nombre_de_presents_2008    float64
 25   dnb_taux_de_reussite_2008      float64
 26   dnb_taux_de_sans_mention_2008  float64
 27   dnb_taux_de_mention_ab_2008    float64
 28   dnb_taux_de_mention_b_2008     float64
 29   dnb_taux_de_mention_tb_2008    float64
 30   dnb_nombre_d_inscrits_2011     float64
 31   dnb_nombre_de_presents_2011    float64
 32   dnb_nombre_de_presents_2011    float64
 33   dnb_taux_de_reussite_2011      float64
 34   dnb_taux_de_sans_mention_2011  float64
 35   dnb_taux_de_mention_ab_2011    float64
 36   dnb_taux_de_mention_b_2011     float64
 37   dnb_taux_de_mention_tb_2011    float64
 38   dnb_nombre_d_inscrits_2012     float64
 39   dnb_nombre_de_presents_2012    float64
 40   dnb_nombre_de_presents_2012    float64
 41   dnb_taux_de_reussite_2012      float64
 42   dnb_taux_de_sans_mention_2012  float64
 43   dnb_taux_de_mention_ab_2012    float64
 44   dnb_taux_de_mention_b_2012     float64
 45   dnb_taux_de_mention_tb_2012    float64
 46   dnb_nombre_d_inscrits_2006     float64
 47   dnb_nombre_de_presents_2006    float64
 48   dnb_nombre_de_presents_2006    float64
 49   dnb_taux_de_reussite_2006      float64
 50   dnb_taux_de_sans_mention_2006  float64
 51   dnb_taux_de_mention_ab_2006    float64
 52   dnb_taux_de_mention_b_2006     float64
 53   dnb_taux_de_mention_tb_2006    float64
 54   dnb_nombre_d_inscrits_2009     float64
 55   dnb_nombre_de_presents_2009    float64
 56   dnb_nombre_de_presents_2009    float64
 57   dnb_taux_de_reussite_2009      float64
 58   dnb_taux_de_sans_mention_2009  float64
 59   dnb_taux_de_mention_ab_2009    float64
 60   dnb_taux_de_mention_b_2009     float64
 61   dnb_taux_de_mention_tb_2009    float64
 62   dnb_nombre_d_inscrits_2010     float64
 63   dnb_nombre_de_presents_2010    float64
 64   dnb_nombre_de_presents_2010    float64
 65   dnb_taux_de_reussite_2010      float64
 66   dnb_taux_de_sans_mention_2010  float64
 67   dnb_taux_de_mention_ab_2010    float64
 68   dnb_taux_de_mention_b_2010     float64
 69   dnb_taux_de_mention_tb_2010    float64
 70   dnb_nombre_d_inscrits_2013     float64
 71   dnb_nombre_de_presents_2013    float64
 72   dnb_nombre_de_presents_2013    float64
 73   dnb_taux_de_reussite_2013      float64
 74   dnb_taux_de_sans_mention_2013  float64
 75   dnb_taux_de_mention_ab_2013    float64
 76   dnb_taux_de_mention_b_2013     float64
 77   dnb_taux_de_mention_tb_2013    float64
 78   dnb_nombre_d_inscrits_2014     float64
 79   dnb_nombre_de_presents_2014    float64
 80   dnb_nombre_de_presents_2014    float64
 81   dnb_taux_de_reussite_2014      float64
 82   dnb_taux_de_sans_mention_2014  float64
 83   dnb_taux_de_mention_ab_2014    float64
 84   dnb_taux_de_mention_b_2014     float64
 85   dnb_taux_de_mention_tb_2014    float64
 86   dnb_nombre_d_inscrits_2019     float64
 87   dnb_nombre_de_presents_2019    float64
 88   dnb_nombre_de_presents_2019    float64
 89   dnb_taux_de_reussite_2019      float64
 90   dnb_taux_de_sans_mention_2019  float64
 91   dnb_taux_de_mention_ab_2019    float64
 92   dnb_taux_de_mention_b_2019     float64
 93   dnb_taux_de_mention_tb_2019    float64
 94   dnb_nombre_d_inscrits_2020     float64
 95   dnb_nombre_de_presents_2020    float64
 96   dnb_nombre_de_presents_2020    float64
 97   dnb_taux_de_reussite_2020      float64
 98   dnb_taux_de_sans_mention_2020  float64
 99   dnb_taux_de_mention_ab_2020    float64
 100  dnb_taux_de_mention_b_2020     float64
 101  dnb_taux_de_mention_tb_2020    float64
 102  dnb_nombre_d_inscrits_2015     float64
 103  dnb_nombre_de_presents_2015    float64
 104  dnb_nombre_de_presents_2015    float64
 105  dnb_taux_de_reussite_2015      float64
 106  dnb_taux_de_sans_mention_2015  float64
 107  dnb_taux_de_mention_ab_2015    float64
 108  dnb_taux_de_mention_b_2015     float64
 109  dnb_taux_de_mention_tb_2015    float64
 110  dnb_nombre_d_inscrits_2017     float64
 111  dnb_nombre_de_presents_2017    float64
 112  dnb_nombre_de_presents_2017    float64
 113  dnb_taux_de_reussite_2017      float64
 114  dnb_taux_de_sans_mention_2017  float64
 115  dnb_taux_de_mention_ab_2017    float64
 116  dnb_taux_de_mention_b_2017     float64
 117  dnb_taux_de_mention_tb_2017    float64
 118  dnb_nombre_d_inscrits_2018     float64
 119  dnb_nombre_de_presents_2018    float64
 120  dnb_nombre_de_presents_2018    float64
 121  dnb_taux_de_reussite_2018      float64
 122  dnb_taux_de_sans_mention_2018  float64
 123  dnb_taux_de_mention_ab_2018    float64
 124  dnb_taux_de_mention_b_2018     float64
 125  dnb_taux_de_mention_tb_2018    float64
 126  dnb_nombre_d_inscrits_2016     float64
 127  dnb_nombre_de_presents_2016    float64
 128  dnb_nombre_de_presents_2016    float64
 129  dnb_taux_de_reussite_2016      float64
 130  dnb_taux_de_sans_mention_2016  float64
 131  dnb_taux_de_mention_ab_2016    float64
 132  dnb_taux_de_mention_b_2016     float64
 133  dnb_taux_de_mention_tb_2016    float64
 134  dnb_nombre_d_inscrits_2021     float64
 135  dnb_nombre_de_presents_2021    float64
 136  dnb_nombre_de_presents_2021    float64
 137  dnb_taux_de_reussite_2021      float64
 138  dnb_taux_de_sans_mention_2021  float64
 139  dnb_taux_de_mention_ab_2021    float64
 140  dnb_taux_de_mention_b_2021     float64
 141  dnb_taux_de_mention_tb_2021    float64
 142  code_postal_uai                float64
 143  coordonnee_x                   float64
 144  coordonnee_y                   float64
 145  epsg                           object
 146  latitude                       float64
 147  longitude                      float64
 148  appariement                    object
 149  position                       object
 150  date_ouverture                 object
 151  niveau_de_vie_commune          float64
 152  niveau_de_vie_departement      float64
dtypes: float64(138), object(15)
memory usage: 45.9+ MB

##### Merging georef-france-commune dataset

##### typo_rur

In [118]:
df_raw_typo_rur = df_raw_typo_rur.rename(columns={'codgeo': 'code_insee_commune'})

In [119]:
df_master = df_master.join(df_raw_typo_rur.set_index('code_insee_commune'), on='code_insee_commune', how='left', rsuffix='right')

In [120]:
df_master['zonage_rur_lib'].isnull().value_counts()

False    37860
True      1198
Name: zonage_rur_lib, dtype: int64

In [121]:
df_master[df_master['zonage_rur_lib'].isnull()]['commune'].value_counts()

PARIS 20E ARRONDISSEMENT        65
PARIS 19E ARRONDISSEMENT        62
PARIS 18E ARRONDISSEMENT        58
PARIS 13E ARRONDISSEMENT        57
PARIS 15E ARRONDISSEMENT        50
PARIS 17E ARRONDISSEMENT        45
PARIS 16E ARRONDISSEMENT        43
MARSEILLE 13E ARRONDISSEMENT    40
MARSEILLE 15E ARRONDISSEMENT    39
PARIS 12E ARRONDISSEMENT        37
PARIS 11E ARRONDISSEMENT        35
MARSEILLE 9E ARRONDISSEMENT     33
PARIS 14E ARRONDISSEMENT        32
MARSEILLE 14E ARRONDISSEMENT    31
MARSEILLE 8E ARRONDISSEMENT     30
LYON 3E ARRONDISSEMENT          28
PARIS 10E ARRONDISSEMENT        26
LYON 8E ARRONDISSEMENT          26
LYON 7E ARRONDISSEMENT          25
MARSEILLE 11E ARRONDISSEMENT    25
MARSEILLE 12E ARRONDISSEMENT    25
LYON 5E ARRONDISSEMENT          23
MARSEILLE 4E ARRONDISSEMENT     23
MARSEILLE 3E ARRONDISSEMENT     22
MARSEILLE 10E ARRONDISSEMENT    21
PARIS 5E ARRONDISSEMENT         21
LYON 9E ARRONDISSEMENT          21
MARSEILLE 6E ARRONDISSEMENT     21
LYON 6E ARRONDISSEMENT          19
PARIS 7E ARRONDISSEMENT         18
PARIS 6E ARRONDISSEMENT         17
PARIS 9E ARRONDISSEMENT         17
PARIS 4E ARRONDISSEMENT         16
MARSEILLE 5E ARRONDISSEMENT     15
PARIS 8E ARRONDISSEMENT         14
MARSEILLE 7E ARRONDISSEMENT     14
LYON 4E ARRONDISSEMENT          13
MARSEILLE 2E ARRONDISSEMENT     12
SAINT MARTIN                    11
MARSEILLE 1ER ARRONDISSEMENT    11
LYON 2E ARRONDISSEMENT          11
PARIS 3E ARRONDISSEMENT         10
LYON 1ER ARRONDISSEMENT         10
MARSEILLE 16E ARRONDISSEMENT    10
PARIS 2E ARRONDISSEMENT          7
PARIS 1ER ARRONDISSEMENT         5
SAINT BARTHELEMY                 4
Name: commune, dtype: int64

In [122]:
# allocating zone 3 to saint martin
df_master['zonage_rur'][df_master['code_insee_commune']=='97801'] = 3.00

# allocating zone 3 to saint barthelemy
df_master['zonage_rur'][df_master['code_insee_commune']=='97701'] = 3.00

# allocating the rest (Paris, Marseille, Lyon) to zone 6
df_master['zonage_rur'][df_master['zonage_rur'].isnull()] = 6.00

C:\Users\33671\AppData\Local\Temp\ipykernel_19492\3966815186.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_master['zonage_rur'][df_master['code_insee_commune']=='97801'] = 3.00
C:\Users\33671\AppData\Local\Temp\ipykernel_19492\3966815186.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_master['zonage_rur'][df_master['code_insee_commune']=='97701'] = 3.00
C:\Users\33671\AppData\Local\Temp\ipykernel_19492\3966815186.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_master['zonage_rur'][df_master['zonage_rur'].isnull()] = 6.00

In [123]:
df_master['zonage_rur_lib'] = df_master['zonage_rur'].map({1:'rural autonome très peu dense', 
                                                                       2: 'rural autonome peu dense', 
                                                                       3: 'rural sous faible influence d\'un pole', 
                                                                       4: 'rural sous forte influence d\'un pole',
                                                                       5: 'urbain densité intermédiaire',
                                                                       6: 'urbain dense'
                                                                       }
                                                                      )

In [124]:
df_master[df_master['zonage_rur_lib'].isnull()]['commune'].value_counts()

Series([], Name: commune, dtype: int64)

In [125]:
#Simplifying our classification with only two categories
df_master['zone_rur_simple']=df_master['zonage_rur'].map({1: 'rural',
                                            2: 'rural',
                                            3: 'rural',
                                            4: 'urbain',
                                            5: 'urbain',
                                            6: 'urbain'
                                            }
                                           )

##### Merging fr-en-ecoles-effectifs-nb_classes

In [126]:
df_raw_effectifs = df_raw_effectifs.rename(columns={'numero_ecole': 'uai'})
df_master = df_master.join(df_raw_effectifs.set_index('uai'), on='uai', how='left', rsuffix='right')
df_master.sample(5)

,uai,nom_etablissment,type_etablissement,code_academie,academie,code_departement,departement,code_insee_commune,code_region,region,...,niveau_de_vie_commune,niveau_de_vie_departement,libgeo,zonage_rur,zonage_rur_lib,zone_rur_simple,rentree_scolaireright,rep,rep_plus,nombre_total_eleves
16338,0501695W,ECOLE PRIMAIRE,ECOLE,70.0,NORMANDIE,050,MANCHE,50262,28.0,Normandie,...,19772.000000,19256.184487,La Lande-d'Airou,2.0,rural autonome peu dense,rural,2021.0,1.0,0.0,47.0
32710,0021453U,ECOLE PRIMAIRE,ECOLE,20.0,AMIENS,002,AISNE,02581,32.0,Hauts-de-France,...,20369.809524,18111.487190,Paars,3.0,rural sous faible influence d'un pole,rural,2021.0,0.0,0.0,21.0
33876,0261399E,ECOLE PRIMAIRE ST AVIT,ECOLE,8.0,GRENOBLE,026,DROME,26293,84.0,Auvergne-Rhône-Alpes,...,18054.000000,19300.504181,Saint-Avit,2.0,rural autonome peu dense,rural,2019.0,0.0,0.0,22.0
21666,0341241P,ECOLE PRIMAIRE PRIVEE SAINT PIERRE,ECOLE,11.0,MONTPELLIER,034,HERAULT,34301,76.0,Occitanie,...,16732.000000,18686.160053,Sète,5.0,urbain densité intermédiaire,urbain,2019.0,0.0,0.0,98.0
15759,0410536K,ECOLE ELEMENTAIRE,ECOLE,18.0,ORLEANS-TOURS,041,LOIR-ET-CHER,41289,24.0,Centre-Val de Loire,...,22794.000000,19827.473460,Villermain,3.0,rural sous faible influence d'un pole,rural,2019.0,0.0,0.0,34.0

In [127]:
df_master['nombre_total_eleves'].value_counts()

121.0    495
117.0    486
91.0     469
119.0    468
125.0    467
        ...
629.0      1
721.0      1
724.0      1
732.0      1
749.0      1
Name: nombre_total_eleves, Length: 721, dtype: int64

In [128]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103200 entries, 0 to 39057
Columns: 161 entries, uai to nombre_total_eleves
dtypes: float64(143), object(18)
memory usage: 127.6+ MB

### 6. Tidying up dataframe

In [129]:
# Making all strings lower case
df_master = df_master.applymap(lambda x: x.lower() if type(x) == str else x)

# renaming "privé sous contrat" in "prive"
df_master.loc[df_master["secteur"] == "privé sous contrat", "secteur"] = "prive"

# sorting
df_master.sort_values(by=['secteur', 'type_etablissement'], ascending=False, inplace=True)

In [130]:
df_master.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103200 entries, 6967 to 6962
Data columns (total 161 columns):
 #    Column                         Non-Null Count   Dtype
---   ------                         --------------   -----
 0    uai                            103200 non-null  object
 1    nom_etablissment               103200 non-null  object
 2    type_etablissement             103200 non-null  object
 3    code_academie                  102836 non-null  float64
 4    academie                       103200 non-null  object
 5    code_departement               103200 non-null  object
 6    departement                    103200 non-null  object
 7    code_insee_commune             103200 non-null  object
 8    code_region                    102836 non-null  float64
 9    region                         102836 non-null  object
 10   commune                        103200 non-null  object
 11   secteur                        103200 non-null  object
 12   ips                            103195 non-null  float64
 13   dnb_nombre_d_inscrits_2007     6671 non-null    float64
 14   rentree_scolaire               103200 non-null  object
 15   dnb_nombre_de_presents_2007    6671 non-null    float64
 16   dnb_nombre_de_presents_2007    6671 non-null    float64
 17   dnb_taux_de_reussite_2007      6671 non-null    float64
 18   dnb_taux_de_sans_mention_2007  6671 non-null    float64
 19   dnb_taux_de_mention_ab_2007    6671 non-null    float64
 20   dnb_taux_de_mention_b_2007     6671 non-null    float64
 21   dnb_taux_de_mention_tb_2007    6671 non-null    float64
 22   dnb_nombre_d_inscrits_2008     6696 non-null    float64
 23   dnb_nombre_de_presents_2008    6696 non-null    float64
 24   dnb_nombre_de_presents_2008    6696 non-null    float64
 25   dnb_taux_de_reussite_2008      6696 non-null    float64
 26   dnb_taux_de_sans_mention_2008  6696 non-null    float64
 27   dnb_taux_de_mention_ab_2008    6696 non-null    float64
 28   dnb_taux_de_mention_b_2008     6696 non-null    float64
 29   dnb_taux_de_mention_tb_2008    6696 non-null    float64
 30   dnb_nombre_d_inscrits_2011     6777 non-null    float64
 31   dnb_nombre_de_presents_2011    6777 non-null    float64
 32   dnb_nombre_de_presents_2011    6777 non-null    float64
 33   dnb_taux_de_reussite_2011      6777 non-null    float64
 34   dnb_taux_de_sans_mention_2011  6777 non-null    float64
 35   dnb_taux_de_mention_ab_2011    6777 non-null    float64
 36   dnb_taux_de_mention_b_2011     6777 non-null    float64
 37   dnb_taux_de_mention_tb_2011    6777 non-null    float64
 38   dnb_nombre_d_inscrits_2012     6795 non-null    float64
 39   dnb_nombre_de_presents_2012    6795 non-null    float64
 40   dnb_nombre_de_presents_2012    6795 non-null    float64
 41   dnb_taux_de_reussite_2012      6795 non-null    float64
 42   dnb_taux_de_sans_mention_2012  6795 non-null    float64
 43   dnb_taux_de_mention_ab_2012    6795 non-null    float64
 44   dnb_taux_de_mention_b_2012     6795 non-null    float64
 45   dnb_taux_de_mention_tb_2012    6795 non-null    float64
 46   dnb_nombre_d_inscrits_2006     6650 non-null    float64
 47   dnb_nombre_de_presents_2006    6650 non-null    float64
 48   dnb_nombre_de_presents_2006    6650 non-null    float64
 49   dnb_taux_de_reussite_2006      6650 non-null    float64
 50   dnb_taux_de_sans_mention_2006  6650 non-null    float64
 51   dnb_taux_de_mention_ab_2006    6650 non-null    float64
 52   dnb_taux_de_mention_b_2006     6650 non-null    float64
 53   dnb_taux_de_mention_tb_2006    6650 non-null    float64
 54   dnb_nombre_d_inscrits_2009     6720 non-null    float64
 55   dnb_nombre_de_presents_2009    6720 non-null    float64
 56   dnb_nombre_de_presents_2009    6720 non-null    float64
 57   dnb_taux_de_reussite_2009      6720 non-null    float64
 58   dnb_taux_de_sans_mention_2009  6720 non-null    float64
 59   dnb_taux_de_mention_ab_2009    6720 non-null    float64
 60   dnb_taux_de_mention_b_2009     6720 non-null    float64
 61   dnb_taux_de_mention_tb_2009    6720 non-null    float64
 62   dnb_nombre_d_inscrits_2010     6738 non-null    float64
 63   dnb_nombre_de_presents_2010    6738 non-null    float64
 64   dnb_nombre_de_presents_2010    6738 non-null    float64
 65   dnb_taux_de_reussite_2010      6738 non-null    float64
 66   dnb_taux_de_sans_mention_2010  6738 non-null    float64
 67   dnb_taux_de_mention_ab_2010    6738 non-null    float64
 68   dnb_taux_de_mention_b_2010     6738 non-null    float64
 69   dnb_taux_de_mention_tb_2010    6738 non-null    float64
 70   dnb_nombre_d_inscrits_2013     6806 non-null    float64
 71   dnb_nombre_de_presents_2013    6806 non-null    float64
 72   dnb_nombre_de_presents_2013    6806 non-null    float64
 73   dnb_taux_de_reussite_2013      6806 non-null    float64
 74   dnb_taux_de_sans_mention_2013  6806 non-null    float64
 75   dnb_taux_de_mention_ab_2013    6806 non-null    float64
 76   dnb_taux_de_mention_b_2013     6806 non-null    float64
 77   dnb_taux_de_mention_tb_2013    6806 non-null    float64
 78   dnb_nombre_d_inscrits_2014     6817 non-null    float64
 79   dnb_nombre_de_presents_2014    6817 non-null    float64
 80   dnb_nombre_de_presents_2014    6817 non-null    float64
 81   dnb_taux_de_reussite_2014      6817 non-null    float64
 82   dnb_taux_de_sans_mention_2014  6817 non-null    float64
 83   dnb_taux_de_mention_ab_2014    6817 non-null    float64
 84   dnb_taux_de_mention_b_2014     6817 non-null    float64
 85   dnb_taux_de_mention_tb_2014    6817 non-null    float64
 86   dnb_nombre_d_inscrits_2019     6900 non-null    float64
 87   dnb_nombre_de_presents_2019    6900 non-null    float64
 88   dnb_nombre_de_presents_2019    6900 non-null    float64
 89   dnb_taux_de_reussite_2019      6900 non-null    float64
 90   dnb_taux_de_sans_mention_2019  6900 non-null    float64
 91   dnb_taux_de_mention_ab_2019    6900 non-null    float64
 92   dnb_taux_de_mention_b_2019     6900 non-null    float64
 93   dnb_taux_de_mention_tb_2019    6900 non-null    float64
 94   dnb_nombre_d_inscrits_2020     6909 non-null    float64
 95   dnb_nombre_de_presents_2020    6909 non-null    float64
 96   dnb_nombre_de_presents_2020    6909 non-null    float64
 97   dnb_taux_de_reussite_2020      6909 non-null    float64
 98   dnb_taux_de_sans_mention_2020  6909 non-null    float64
 99   dnb_taux_de_mention_ab_2020    6909 non-null    float64
 100  dnb_taux_de_mention_b_2020     6909 non-null    float64
 101  dnb_taux_de_mention_tb_2020    6909 non-null    float64
 102  dnb_nombre_d_inscrits_2015     6833 non-null    float64
 103  dnb_nombre_de_presents_2015    6833 non-null    float64
 104  dnb_nombre_de_presents_2015    6833 non-null    float64
 105  dnb_taux_de_reussite_2015      6833 non-null    float64
 106  dnb_taux_de_sans_mention_2015  6833 non-null    float64
 107  dnb_taux_de_mention_ab_2015    6833 non-null    float64
 108  dnb_taux_de_mention_b_2015     6833 non-null    float64
 109  dnb_taux_de_mention_tb_2015    6833 non-null    float64
 110  dnb_nombre_d_inscrits_2017     6865 non-null    float64
 111  dnb_nombre_de_presents_2017    6865 non-null    float64
 112  dnb_nombre_de_presents_2017    6865 non-null    float64
 113  dnb_taux_de_reussite_2017      6865 non-null    float64
 114  dnb_taux_de_sans_mention_2017  6865 non-null    float64
 115  dnb_taux_de_mention_ab_2017    6865 non-null    float64
 116  dnb_taux_de_mention_b_2017     6865 non-null    float64
 117  dnb_taux_de_mention_tb_2017    6865 non-null    float64
 118  dnb_nombre_d_inscrits_2018     6884 non-null    float64
 119  dnb_nombre_de_presents_2018    6884 non-null    float64
 120  dnb_nombre_de_presents_2018    6884 non-null    float64
 121  dnb_taux_de_reussite_2018      6884 non-null    float64
 122  dnb_taux_de_sans_mention_2018  6884 non-null    float64
 123  dnb_taux_de_mention_ab_2018    6884 non-null    float64
 124  dnb_taux_de_mention_b_2018     6884 non-null    float64
 125  dnb_taux_de_mention_tb_2018    6884 non-null    float64
 126  dnb_nombre_d_inscrits_2016     6851 non-null    float64
 127  dnb_nombre_de_presents_2016    6851 non-null    float64
 128  dnb_nombre_de_presents_2016    6851 non-null    float64
 129  dnb_taux_de_reussite_2016      6851 non-null    float64
 130  dnb_taux_de_sans_mention_2016  6851 non-null    float64
 131  dnb_taux_de_mention_ab_2016    6851 non-null    float64
 132  dnb_taux_de_mention_b_2016     6851 non-null    float64
 133  dnb_taux_de_mention_tb_2016    6851 non-null    float64
 134  dnb_nombre_d_inscrits_2021     6929 non-null    float64
 135  dnb_nombre_de_presents_2021    6929 non-null    float64
 136  dnb_nombre_de_presents_2021    6929 non-null    float64
 137  dnb_taux_de_reussite_2021      6929 non-null    float64
 138  dnb_taux_de_sans_mention_2021  6929 non-null    float64
 139  dnb_taux_de_mention_ab_2021    6929 non-null    float64
 140  dnb_taux_de_mention_b_2021     6929 non-null    float64
 141  dnb_taux_de_mention_tb_2021    6929 non-null    float64
 142  code_postal_uai                102836 non-null  float64
 143  coordonnee_x                   102836 non-null  float64
 144  coordonnee_y                   102836 non-null  float64
 145  epsg                           102836 non-null  object
 146  latitude                       102836 non-null  float64
 147  longitude                      102836 non-null  float64
 148  appariement                    102836 non-null  object
 149  position                       102836 non-null  object
 150  date_ouverture                 102836 non-null  object
 151  niveau_de_vie_commune          100063 non-null  float64
 152  niveau_de_vie_departement      100135 non-null  float64
 153  libgeo                         100243 non-null  object
 154  zonage_rur                     103200 non-null  float64
 155  zonage_rur_lib                 103200 non-null  object
 156  zone_rur_simple                103200 non-null  object
 157  rentree_scolaireright          96233 non-null   float64
 158  rep                            96233 non-null   float64
 159  rep_plus                       96233 non-null   float64
 160  nombre_total_eleves            96233 non-null   float64
dtypes: float64(143), object(18)
memory usage: 127.6+ MB

### 7. Exporting workfile data to CSV

In [131]:
file_name = "df_master" + ".csv"
print(f"file name: {file_name}")
df_master.to_csv(data_out + file_name, index = False)

file name: df_master.csv

#### data-collection notebook execution time

In [132]:
executionTime = (time.time() - startTime)
print('Execution time in seconds: ' + str(executionTime))

Execution time in seconds: 470.3310492038727