
Écoles éducation prioritaire 
https://data.education.gouv.fr/explore/dataset/fr-en-ecoles-ep/table/

Collèges éducation prioritaire 
https://data.education.gouv.fr/explore/dataset/fr-en-colleges-ep/table/?disjunctive.rs&disjunctive.appartep

Effectifs d’élèves par niveau et nombre de classes par école – Date d’observation au début du mois d’octobre chaque année 
https://data.education.gouv.fr/explore/dataset/fr-en-ecoles-effectifs-nb_classes/table/?disjunctive.rentree_scolaire&disjunctive.region_academique&disjunctive.academie&disjunctive.departement&disjunctive.commune&disjunctive.numero_ecole&disjunctive.denomination_principale&disjunctive.patronyme&disjunctive.secteur&disjunctive.code_postal&sort=tri

Enquête ETIC 1er degré 
https://data.education.gouv.fr/explore/dataset/fr-en-etic_1d/table/?disjunctive.millesime

Enquête ETIC 2nd degré 
https://data.education.gouv.fr/explore/dataset/fr-en-etic_2d/information/

Enquête MicroTic2D 
https://data.education.gouv.fr/explore/dataset/fr-en-microtic2d/table/?disjunctive.uai&disjunctive.annee&disjunctive.nom&disjunctive.adresse_postale&disjunctive.code_postal_uai&disjunctive.ville_norme&disjunctive.dep&disjunctive.academ&disjunctive.regaca&disjunctive.nature_uai&disjunctive.type&disjunctive.ep&disjunctive.citsco&disjunctive.trancheff&disjunctive.plannum&sort=uai


Effectifs d’élèves par niveau, sexe, langues vivantes 1 et 2 les plus fréquentes, par collège – Date d’observation au début du mois d’octobre chaque année 
https://data.education.gouv.fr/explore/dataset/fr-en-college-effectifs-niveau-sexe-lv/table/?disjunctive.rentree_scolaire&disjunctive.region_academique&disjunctive.academie&disjunctive.departement&disjunctive.commune&disjunctive.numero_college&disjunctive.denomination_principale&disjunctive.patronyme&disjunctive.secteur&disjunctive.rep&disjunctive.rep_plus



Réseau d'éducation prioritaire des collèges 
https://data.education.gouv.fr/explore/dataset/fr-en-reseau-education-prioritaire-colleges/table/




Effectifs d’élèves par niveau, sexe, langues vivantes 1 et 2 les plus fréquentes, par lycée d’enseignement général et technologique – Date d’observation au début du mois d’octobre chaque année 
https://data.education.gouv.fr/explore/dataset/fr-en-lycee_gt-effectifs-niveau-sexe-lv/table/?disjunctive.rentree_scolaire&disjunctive.region_academique&disjunctive.academie&disjunctive.departement&disjunctive.commune&disjunctive.numero_lycee&disjunctive.denomination_principale&disjunctive.patronyme&disjunctive.secteur

Indicateurs de valeur ajoutée des lycées d'enseignement général et technologique
https://data.education.gouv.fr/explore/dataset/fr-en-indicateurs-de-resultat-des-lycees-denseignement-general-et-technologique/table/

Indicateurs de valeur ajoutée des lycées d'enseignement professionnels 
https://data.education.gouv.fr/explore/dataset/fr-en-indicateurs-de-resultat-des-lycees-denseignement-professionnels/table/

Ecoles labellisées "30 minutes d'activité physique quotidienne" (30'APQ) 
https://data.education.gouv.fr/explore/dataset/fr-en-ecoles-labellisees-30-minutes-d-activite-physique-quotidienne-30-apq/table/

Annuaire de l'éducation 
https://data.education.gouv.fr/explore/dataset/fr-en-annuaire-education/table/?disjunctive.nom_etablissement&disjunctive.type_etablissement&disjunctive.appartenance_education_prioritaire&disjunctive.type_contrat_prive&disjunctive.libelle_departement&disjunctive.libelle_academie&disjunctive.libelle_region&disjunctive.code_type_contrat_prive&disjunctive.pial

Adresse et géolocalisation des établissements d'enseignement du premier et second degrés 
https://data.education.gouv.fr/explore/dataset/fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre/table/?disjunctive.nature_uai&disjunctive.nature_uai_libe&disjunctive.code_departement&disjunctive.code_region&disjunctive.code_academie&disjunctive.secteur_prive_code_type_contrat&disjunctive.secteur_prive_libelle_type_contrat&disjunctive.code_ministere&disjunctive.libelle_ministere

Établissements labellisés "génération 2024" 
https://data.education.gouv.fr/explore/dataset/fr-en-etablissements-labellises-generation-2024/table/?disjunctive.academie&disjunctive.departement&disjunctive.commune&sort=uai

Écoles et collèges numériques
https://data.education.gouv.fr/explore/dataset/fr-en-ecoles-colleges-numeriques/table/?disjunctive.appellation_officielle&disjunctive.uai&disjunctive.denomination_principale&disjunctive.patronyme_uai&disjunctive.secteur_public_prive&disjunctive.localite_d_acheminement&disjunctive.code_postal&disjunctive.nature_uai_libe&disjunctive.academie&disjunctive.departement&disjunctive.region

Établissements labellisés Euroscol 
https://data.education.gouv.fr/explore/dataset/fr-en-etablissements-labellises-euroscol/table/?disjunctive.academie&disjunctive.rne&disjunctive.niveau_etablissement&disjunctive.code_postal&disjunctive.ville

<table>
    <tr>
        <th><p style="text-align:left">DATA CONTENT & USE</p></th>
        <th><p style="text-align:left">SOURCE</p></th>
        <th><p style="text-align:left">INFORMATION LINK</p></th>
        <th><p style="text-align:left">UPDATE</p></th>
    <tr>
    <tr>
        <td><p style="text-align:left"><b>Indices de position sociale dans les collèges de France métropolitaine et DROM</b><br> 
        L’indice de position sociale (IPS) permet d'appréhender le statut social des élèves à partir des professions et catégories sociales (PCS) de leurs parents. Pour chaque PCS, la valeur numérique de l’IPS correspond à un résumé quantitatif d’un ensemble d’attributs socio-économiques et culturels liés à la réussite scolaire.</p></td>
        <td><p style="text-align:left">data.education.gouv.fr</p></td>
        <td><p style="text-align:left"><a href="https://data.education.gouv.fr/explore/dataset/fr-en-ips_colleges/table/?disjunctive.rentree_scolaire&disjunctive.academie&disjunctive.code_du_departement&disjunctive.departement&disjunctive.uai&disjunctive.code_insee_de_la_commune&disjunctive.nom_de_la_commune&disjunctive.secteur", target="_blank">Indices de position sociale dans les collèges de France métropolitaine et DROM</a></p></td>
        <td><p style="text-align:left">October, 2022</p></td>
    </tr>
    <tr>
        <td><p style="text-align:left"><b>Indices de position sociale dans les écoles de France métropolitaine et DROM </b><br>
L’indice de position sociale (IPS) permet d'appréhender le statut social des élèves à partir des professions et catégories sociales (PCS) de leurs parents. Pour chaque PCS, la valeur numérique de l’IPS correspond à un résumé quantitatif d’un ensemble d’attributs socio-économiques et culturels liés à la réussite scolaire.</p></td>
        <td><p style="text-align:left">data.education.gouv.fr</p></td>
        <td><p style="text-align:left"><a href="https://data.education.gouv.fr/explore/dataset/fr-en-ips_ecoles/information/?disjunctive.academie&disjunctive.code_du_departement&disjunctive.departement&disjunctive.uai&disjunctive.code_insee_de_la_commune&disjunctive.nom_de_la_commune&disjunctive.secteur", target="_blank">Indices de position sociale dans les écoles de France métropolitaine et DROM</a></p></td>
        <td><p style="text-align:left">October, 2022</p></td>
    </tr>
    <tr>
        <td><p style="text-align:left"><b>Diplôme national du brevet par établissement</b><br> 
Ce jeu de données présente les résultats au diplôme national du brevet par établissement, pour les établissements de France métropolitaine et pour les départements et les régions d'Outre-Mer</p></td>
        <td><p style="text-align:left">data.education.gouv.fr</p></td>
        <td><p style="text-align:left"><a href="https://data.education.gouv.fr/explore/dataset/fr-en-dnb-par-etablissement/information/?disjunctive.session&disjunctive.numero_d_etablissement&disjunctive.denomination_principale&disjunctive.secteur_d_enseignement&disjunctive.commune_et_arrondissement&disjunctive.commune_et_arrondissement_lib_l&disjunctive.departement&disjunctive.departement_libelle&disjunctive.academie&disjunctive.academie_libelle&disjunctive.region&disjunctive.region_libelle", target="_blank">Diplôme national du brevet par établissement</a></p></td>
        <td><p style="text-align:left">June, 2022</p></td>
    </tr>
    <tr>
        <td><p style="text-align:left"><b>Adresse et géolocalisation des établissements d'enseignement du premier et second degrés </b><br> 
Liste géolocalisée des établissements d'enseignement des premier et second degrés (tous ministères de tutelle, secteurs public et privé) situés en France. Source : RAMSESE</p></td>
        <td><p style="text-align:left">data.education.gouv.fr</p></td>
        <td><p style="text-align:left"><a href="https://data.education.gouv.fr/explore/dataset/fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre/table/?disjunctive.nature_uai&disjunctive.nature_uai_libe&disjunctive.code_departement&disjunctive.code_region&disjunctive.code_academie&disjunctive.secteur_prive_code_type_contrat&disjunctive.secteur_prive_libelle_type_contrat&disjunctive.code_ministere&disjunctive.libelle_ministere", target="_blank">Adresse et géolocalisation des établissements d'enseignement du premier et second degrés </a></p></td>
        <td><p style="text-align:left">October, 2022</p></td>
    </tr>
</table>

#### Importing librairies & modules

In [147]:
import os
import time
import requests
import pandas as pd

#### Creating the relevant folders and paths

In [148]:
# Defining current folder as our main directory
dirname = os.getcwd()

# Getting current date
datestr = time.strftime("%Y-%m-%d")

# location folders variables
data_in = dirname + "\\da_data_raw\\" + datestr + "\\"
data_out = dirname + "\\da_data_workfiles\\" + datestr + "\\"

# Checking if data_in path is not present, then create it
if not os.path.exists(data_in):
    os.makedirs(data_in)
    print(f"Directory Created: {data_in}")
else: 
    print(f"Already existing directory: {data_in}")
    
# Checking if data_out path is not present then create it
if not os.path.exists(data_out):
    os.makedirs(data_out)
    print(f"Directory Created: {data_out}")
else:
    print(f"Already existing directory: {data_out}")
    
# Printing main directories we will work with
print(f"\nMain directory: {dirname}")
print(f"Raw data folder: {data_in}")
print(f"Workfile folder: {data_out}")

Directory Created: c:\Users\33671\Documents\Python\IPS\da_data_raw\2022-11-01\
Already existing directory: c:\Users\33671\Documents\Python\IPS\da_data_workfiles\2022-11-01\

Main directory: c:\Users\33671\Documents\Python\IPS
Raw data folder: c:\Users\33671\Documents\Python\IPS\da_data_raw\2022-11-01\
Workfile folder: c:\Users\33671\Documents\Python\IPS\da_data_workfiles\2022-11-01\

#### Verifying the api response

In [149]:
#fr-en-ips_colleges
dataset_id = "fr-en-ips_colleges"
format = "json"
limit = "10"
r = requests.get(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}", 
                 timeout=2)

print(f"{dataset_id}")
print(f"URL: {r.url}")
print(f"HTTP Response Status Code: {r.status_code}") 
print(f"HTTP Error: {r.raise_for_status()}")
print(f"Encoding: {r.encoding}")
print(f"Header content type: {r.headers.get('content-type')}")
print(f"Cookies: {r.cookies}\n")

r.close()


#fr-en-ips_ecoles
dataset_id = "fr-en-ips_ecoles"
format = "json"
limit = "10"
r = requests.get(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}", 
                 timeout=2)

print(f"{dataset_id}")
print(f"URL: {r.url}")
print(f"HTTP Response Status Code: {r.status_code}") 
print(f"HTTP Error: {r.raise_for_status()}")
print(f"Encoding: {r.encoding}")
print(f"Header content type: {r.headers.get('content-type')}")
print(f"Cookies: {r.cookies}\n")

r.close()


#fr-en-dnb-par-etablissement
dataset_id = "fr-en-dnb-par-etablissement"
format = "json"
limit = "10"
r = requests.get(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}", 
                 timeout=2)

print(f"{dataset_id}")
print(f"URL: {r.url}")
print(f"HTTP Response Status Code: {r.status_code}") 
print(f"HTTP Error: {r.raise_for_status()}")
print(f"Encoding: {r.encoding}")
print(f"Header content type: {r.headers.get('content-type')}")
print(f"Cookies: {r.cookies}\n")

r.close()


#fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre
dataset_id = "fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre"
format = "json"
limit = "10"
r = requests.get(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}", 
                 timeout=2)

print(f"{dataset_id}")
print(f"URL: {r.url}")
print(f"HTTP Response Status Code: {r.status_code}") 
print(f"HTTP Error: {r.raise_for_status()}")
print(f"Encoding: {r.encoding}")
print(f"Header content type: {r.headers.get('content-type')}")
print(f"Cookies: {r.cookies}\n")

r.close()

fr-en-ips_colleges
URL: https://data.education.gouv.fr/api/v2/catalog/datasets/fr-en-ips_colleges/exports/json?limit=10
HTTP Response Status Code: 200
HTTP Error: None
Encoding: utf-8
Header content type: application/json; charset=utf-8
Cookies: <RequestsCookieJar[]>

fr-en-ips_ecoles
URL: https://data.education.gouv.fr/api/v2/catalog/datasets/fr-en-ips_ecoles/exports/json?limit=10
HTTP Response Status Code: 200
HTTP Error: None
Encoding: utf-8
Header content type: application/json; charset=utf-8
Cookies: <RequestsCookieJar[]>

fr-en-dnb-par-etablissement
URL: https://data.education.gouv.fr/api/v2/catalog/datasets/fr-en-dnb-par-etablissement/exports/json?limit=10
HTTP Response Status Code: 200
HTTP Error: None
Encoding: utf-8
Header content type: application/json; charset=utf-8
Cookies: <RequestsCookieJar[]>

fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre
URL: https://data.education.gouv.fr/api/v2/catalog/datasets/fr-en-adresse-et-geolocalisation-etablissements-premier-et-second-degre/exports/json?limit=10
HTTP Response Status Code: 200
HTTP Error: None
Encoding: utf-8
Header content type: application/json; charset=utf-8
Cookies: <RequestsCookieJar[]>

#### Data Collection

ips_colleges dataframe

In [150]:
dataset_id = "fr-en-ips_colleges"
format = "json"
limit = "-1" # argument to pass to get the full dataset 
df_raw_ips_colleges = pd.read_json(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}")

In [151]:
df_raw_ips_colleges['type']="COLLEGE"

In [152]:
df_raw_ips_colleges.head()

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,type
0,2021-2022,LYON,001,AIN,0010025X,COLLEGE PAUL SIXDENIER,01185,PLATEAU D HAUTEVILLE,public,110.4,COLLEGE
1,2021-2022,LYON,001,AIN,0010041P,COLLEGE VAUGELAS,01244,MEXIMIEUX,public,111.4,COLLEGE
2,2021-2022,LYON,001,AIN,0010092V,COLLEGE PRIVE SAINT JOSEPH,01283,OYONNAX,privé sous contrat,111.3,COLLEGE
3,2021-2022,LYON,001,AIN,0010896U,COLLEGE INTERNATIONAL,01160,FERNEY VOLTAIRE,public,122.6,COLLEGE
4,2021-2022,LYON,001,AIN,0010938P,COLLEGE LES COTES,01289,PERONNAS,public,102.2,COLLEGE

In [153]:
df_raw_ips_colleges.tail()

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,type
6962,2021-2022,LA REUNION,974,LA REUNION,9741546M,COLLEGE PRIVE LA SALLE ALEXANDRE MONNET,97410,SAINT BENOIT,privé sous contrat,110.6,COLLEGE
6963,2021-2022,MAYOTTE,976,MAYOTTE,9760008E,COLLEGE DE BOUENI M TITI,97608,DZAOUDZI,public,67.1,COLLEGE
6964,2021-2022,MAYOTTE,976,MAYOTTE,9760274U,COLLEGE DE TSINGONI,97617,TSINGONI,public,68.3,COLLEGE
6965,2021-2022,MAYOTTE,976,MAYOTTE,9760308F,COLLEGE DE PASSAMAINTY,97611,MAMOUDZOU,public,66.0,COLLEGE
6966,2021-2022,MAYOTTE,976,MAYOTTE,9760314M,COLLEGE DE KAWENI 2,97611,MAMOUDZOU,public,68.6,COLLEGE

In [154]:
df_raw_ips_colleges.sample(5)

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,type
716,2021-2022,LILLE,059,NORD,0593490Y,COLLEGE JEAN LEMAIRE DE BELGES,59053,BAVAY,public,108.2,COLLEGE
6240,2021-2022,LILLE,059,NORD,0593149C,COLLEGE PRIVE CHARLES DE FOUCAULD,59599,TOURCOING,privé sous contrat,90.5,COLLEGE
129,2021-2022,AIX-MARSEILLE,013,BOUCHES-DU-RHONE,0132324F,COLLEGE LES GORGUETTES GILBERT RASTOIN,13022,CASSIS,public,116.3,COLLEGE
5893,2021-2022,BORDEAUX,033,GIRONDE,0330103H,COLLEGE PIERRE DE BELLEYME,33314,PAUILLAC,public,88.4,COLLEGE
5403,2021-2022,VERSAILLES,092,HAUTS-DE-SEINE,0921631Y,COLLEGE HENRI BARBUSSE,92007,BAGNEUX,public,85.2,COLLEGE

ips_ecoles dataframe

In [155]:
dataset_id = "fr-en-ips_ecoles"
format = "json"
limit = "-1" # argument to pass to get the full dataset 
df_raw_ips_ecoles = pd.read_json(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}")

In [156]:
df_raw_ips_ecoles['type']="ecole"

In [157]:
df_raw_ips_ecoles.head()

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,type
0,2021-2022,BORDEAUX,064,PYRENEES-ATLANTIQUES,0640891W,ECOLE ELEMENTAIRE,64253,GURS,public,92.3,ecole
1,2021-2022,BORDEAUX,064,PYRENEES-ATLANTIQUES,0640960W,ECOLE PRIMAIRE PUBLIQUE,64359,LUCQ DE BEARN,public,110.1,ecole
2,2021-2022,BORDEAUX,064,PYRENEES-ATLANTIQUES,0640962Y,ECOLE PRIMAIRE PUBLIQUE,64317,LARRESSORE,public,108.2,ecole
3,2021-2022,BORDEAUX,064,PYRENEES-ATLANTIQUES,0641065K,ECOLE ELEMENTAIRE PUBLIQUE,64459,PRECHACQ NAVARRENX,public,109.4,ecole
4,2021-2022,BORDEAUX,064,PYRENEES-ATLANTIQUES,0641069P,ECOLE ELEMENTAIRE PUBLIQUE,64462,RAMOUS,public,90.9,ecole

In [158]:
df_raw_ips_ecoles.tail()

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,type
32086,2021-2022,MAYOTTE,976,MAYOTTE,9760209Y,ECOLE ELEMENTAIRE DE CHICONI 5,97605,CHICONI,public,73.3,ecole
32087,2021-2022,MAYOTTE,976,MAYOTTE,9760253W,ECOLE ELEMENTAIRE PUBLIQUE MAJICAVO KOROPA 3,97610,KOUNGOU,public,60.5,ecole
32088,2021-2022,MAYOTTE,976,MAYOTTE,9760301Y,ECOLE PRIMAIRE PUBLIQUE TSOUNDZOU 2,97611,MAMOUDZOU,public,65.6,ecole
32089,2021-2022,MAYOTTE,976,MAYOTTE,9760302Z,ECOLE PRIMAIRE PUBLIQUE MROALE,97617,TSINGONI,public,73.4,ecole
32090,2021-2022,MAYOTTE,976,MAYOTTE,9760303A,ECOLE ELEMENTAIRE PUBLIQUE KAHANI,97614,OUANGANI,public,64.3,ecole

In [159]:
df_raw_ips_ecoles.sample(5)

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,type
7863,2021-2022,ORLEANS-TOURS,028,EURE-ET-LOIR,0280765E,ECOLE ELEMENTAIRE,28071,CHAMPROND EN GATINE,public,99.7,ecole
31624,2021-2022,CRETEIL,093,SEINE-SAINT-DENIS,0930388S,ECOLE ELEMENTAIRE D ESTIENNE D ORVES,93048,MONTREUIL,public,109.5,ecole
6169,2021-2022,VERSAILLES,095,VAL-D'OISE,0950670M,ECOLE ELEMENTAIRE VICTOR HUGO 2,95063,BEZONS,public,86.6,ecole
1611,2021-2022,NANTES,085,VENDEE,0851571W,ECOLE PRIMAIRE PRIVEE LA CHAPELLE,85222,SAINT GILLES CROIX DE VIE,privé sous contrat,114.4,ecole
29267,2021-2022,AMIENS,060,OISE,0600800U,ECOLE ELEMENTAIRE LA SOLLETTE,60223,ESTREES SAINT DENIS,public,102.1,ecole

In [160]:
df_raw_ips = pd.concat([df_raw_ips_colleges, df_raw_ips_ecoles])

In [161]:
df_raw_ips.sample(10)

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,type
12502,2021-2022,CRETEIL,094,VAL-DE-MARNE,0941388Y,ECOLE ELEMENTAIRE JULES VERNE,94081,VITRY SUR SEINE,public,78.9,ecole
16666,2021-2022,LILLE,062,PAS-DE-CALAIS,0621438B,ECOLE PRIMAIRE,62680,QUIERY LA MOTTE,public,114.5,ecole
5432,2021-2022,CRETEIL,093,SEINE-SAINT-DENIS,0931855L,COLLEGE PRIVE MERKAZ HATORAH GARCONS,93032,GAGNY,privé sous contrat,141.7,COLLEGE
4177,2021-2022,REIMS,008,ARDENNES,0080068F,COLLEGE ROUGET DE LISLE,08105,CHARLEVILLE MEZIERES,public,80.7,COLLEGE
31325,2021-2022,NANCY-METZ,088,VOSGES,0880324Z,ECOLE ELEMENTAIRE DE L ORME,88270,LIFFOL LE GRAND,public,88.8,ecole
17454,2021-2022,GRENOBLE,073,SAVOIE,0730577F,ECOLE PRIMAIRE LES HAUTS DES DARBELAYS,73206,PRALOGNAN LA VANOISE,public,117.9,ecole
3254,2021-2022,NANTES,049,MAINE-ET-LOIRE,0490866A,COLLEGE PRIVE FRANCOIS D ASSISE,49176,LE LION D ANGERS,privé sous contrat,103.8,COLLEGE
6146,2021-2022,VERSAILLES,095,VAL-D'OISE,0950220Y,ECOLE PRIMAIRE PUBLIQUE PAUL CEZANNE,95678,VILLIERS ADAM,public,130.6,ecole
29576,2021-2022,CLERMONT-FERRAND,063,PUY-DE-DOME,0631443B,ECOLE ELEMENTAIRE JULES FERRY,63063,CEBAZAT,public,95.3,ecole
16451,2021-2022,LILLE,059,NORD,0596301D,ECOLE PRIMAIRE ANTOINE DE SAINT EXUPERY,59606,VALENCIENNES,public,71.4,ecole

In [162]:
df_raw_ips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39058 entries, 0 to 32090
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rentree_scolaire          39058 non-null  object
 1   academie                  39058 non-null  object
 2   code_du_departement       39058 non-null  object
 3   departement               39058 non-null  object
 4   uai                       39058 non-null  object
 5   nom_de_l_etablissment     39058 non-null  object
 6   code_insee_de_la_commune  39058 non-null  object
 7   nom_de_la_commune         39058 non-null  object
 8   secteur                   39058 non-null  object
 9   ips                       39053 non-null  float64
 10  type                      39058 non-null  object
dtypes: float64(1), object(10)
memory usage: 3.6+ MB

In [163]:
print(f"df_raw_ips_colleges N = {len(df_raw_ips_colleges)}")
print(f"df_raw_ips_ecoles N = {len(df_raw_ips_ecoles)}")
print(f"df_raw_ips N = {len(df_raw_ips)}")
print(len(df_raw_ips_colleges) + len(df_raw_ips_ecoles) == len(df_raw_ips))

df_raw_ips_colleges N = 6967
df_raw_ips_ecoles N = 32091
df_raw_ips N = 39058
True

In [164]:
df_raw_ips['uai'].nunique()

39058

dnb-par-etablissement dataframe

In [165]:
dataset_id = "fr-en-dnb-par-etablissement"
format = "json"
limit = "-1" # argument to pass to get the full dataset 
df_raw_dnb_par_etablissement = pd.read_json(f"https://data.education.gouv.fr/api/v2/catalog/datasets/{dataset_id}/exports/{format}?limit={limit}")

In [166]:
df_raw_dnb_par_etablissement.head()

,session,numero_d_etablissement,denomination_principale,patronyme,secteur_d_enseignement,commune_et_arrondissement,commune_et_arrondissement_lib_l,departement,departement_libelle,academie,...,region,region_libelle,nombre_d_inscrits,nombre_de_presents,nombre_total_d_admis,nombre_d_admis_sans_mention,nombre_d_admis_mention_ab,nombre_d_admis_mention_b,nombre_d_admis_mention_tb,taux_de_reussite
0,2007,0240106K,COLLEGE,-,PUBLIC,24568,VELINES,024,DORDOGNE,4,...,15,NOUVELLE-AQUITAINE,47,46,41,21,13,4,3,"89,10%"
1,2007,0240158S,COLLEGE,JEAN MONNET,PUBLIC,24223,LALINDE,024,DORDOGNE,4,...,15,NOUVELLE-AQUITAINE,85,84,70,37,25,7,1,"83,30%"
2,2007,0240650B,COLLEGE,ARTHUR RIMBAUD,PUBLIC,24372,SAINT-ASTIER,024,DORDOGNE,4,...,15,NOUVELLE-AQUITAINE,109,108,105,52,34,16,3,"97,20%"
3,2007,0241033T,LYCEE PROFESSIONNEL,LE CLUZEAU,PRIVE,24534,SIGOULES-ET-FLAUGEAC,024,DORDOGNE,4,...,15,NOUVELLE-AQUITAINE,39,39,38,13,18,7,0,"97,40%"
4,2007,0241042C,COLLEGE,BERTRAN DE BORN,PUBLIC,24322,PERIGUEUX,024,DORDOGNE,4,...,15,NOUVELLE-AQUITAINE,122,121,106,34,32,24,16,"87,60%"

#### Exporting raw data to CSV

In [167]:
# Generating a raw csv file with timestamp included in the name
timestr = time.strftime("%Y-%m-%d_%H-%M-%S")
file_name = "ips-colleges_" + timestr + ".csv"
print(f"file name: {file_name}")
df_raw_ips_colleges.to_csv(data_in + file_name, index = False)

timestr = time.strftime("%Y-%m-%d_%H-%M-%S")
file_name = "ips-ecoles_" + timestr + ".csv"
print(f"file name: {file_name}")
df_raw_ips_ecoles.to_csv(data_in + file_name, index = False)

timestr = time.strftime("%Y-%m-%d_%H-%M-%S")
file_name = "ips_" + timestr + ".csv"
print(f"file name: {file_name}")
df_raw_ips.to_csv(data_in + file_name, index = False)

timestr = time.strftime("%Y-%m-%d_%H-%M-%S")
file_name = "dnb-par-etablissement_" + timestr + ".csv"
print(f"file name: {file_name}")
df_raw_dnb_par_etablissement.to_csv(data_in + file_name, index = False)

file name: ips-colleges_2022-11-01_16-23-31.csv
file name: ips-ecoles_2022-11-01_16-23-31.csv
file name: ips_2022-11-01_16-23-31.csv
file name: dnb-par-etablissement_2022-11-01_16-23-31.csv

#### Merging

In [168]:
df_raw_dnb_par_etablissement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139580 entries, 0 to 139579
Data columns (total 21 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   session                          139580 non-null  int64
 1   numero_d_etablissement           139580 non-null  object
 2   denomination_principale          139580 non-null  object
 3   patronyme                        139479 non-null  object
 4   secteur_d_enseignement           139580 non-null  object
 5   commune_et_arrondissement        139580 non-null  object
 6   commune_et_arrondissement_lib_l  139580 non-null  object
 7   departement                      139580 non-null  object
 8   departement_libelle              139580 non-null  object
 9   academie                         139580 non-null  int64
 10  academie_libelle                 139580 non-null  object
 11  region                           139580 non-null  int64
 12  region_libelle                   139580 non-null  object
 13  nombre_d_inscrits                139580 non-null  int64
 14  nombre_de_presents               139580 non-null  int64
 15  nombre_total_d_admis             139580 non-null  int64
 16  nombre_d_admis_sans_mention      139580 non-null  int64
 17  nombre_d_admis_mention_ab        139580 non-null  int64
 18  nombre_d_admis_mention_b         139580 non-null  int64
 19  nombre_d_admis_mention_tb        139580 non-null  int64
 20  taux_de_reussite                 139580 non-null  object
dtypes: int64(10), object(11)
memory usage: 22.4+ MB

In [169]:
df_raw_dnb_par_etablissement_2021 = df_raw_dnb_par_etablissement[df_raw_dnb_par_etablissement['session'] == 2021]

In [170]:
df_raw_dnb_par_etablissement_2021["numero_d_etablissement"].value_counts().unique()

array([1], dtype=int64)

In [171]:
df_raw_dnb_par_etablissement_2021 = df_raw_dnb_par_etablissement_2021.rename(columns = {'numero_d_etablissement': 'uai'})

In [172]:
df_raw_dnb_par_etablissement_2021['uai'] = df_raw_dnb_par_etablissement_2021['uai'].astype('string')
df_raw_ips['uai'] = df_raw_ips['uai'].astype('string')

In [173]:
len(df_raw_dnb_par_etablissement_2021)

8816

In [174]:
df_raw = df_raw_ips.join(df_raw_dnb_par_etablissement_2021.set_index('uai'), on='uai', how='left', rsuffix='right')
df_raw.head()

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,...,region,region_libelle,nombre_d_inscrits,nombre_de_presents,nombre_total_d_admis,nombre_d_admis_sans_mention,nombre_d_admis_mention_ab,nombre_d_admis_mention_b,nombre_d_admis_mention_tb,taux_de_reussite
0,2021-2022,LYON,001,AIN,0010025X,COLLEGE PAUL SIXDENIER,01185,PLATEAU D HAUTEVILLE,public,110.4,...,1.0,AUVERGNE-RHONE-ALPES,61.0,61.0,58.0,7.0,20.0,12.0,19.0,"95,1%"
1,2021-2022,LYON,001,AIN,0010041P,COLLEGE VAUGELAS,01244,MEXIMIEUX,public,111.4,...,1.0,AUVERGNE-RHONE-ALPES,236.0,233.0,207.0,26.0,55.0,53.0,73.0,"88,8%"
2,2021-2022,LYON,001,AIN,0010092V,COLLEGE PRIVE SAINT JOSEPH,01283,OYONNAX,privé sous contrat,111.3,...,1.0,AUVERGNE-RHONE-ALPES,120.0,120.0,111.0,20.0,28.0,36.0,27.0,"92,5%"
3,2021-2022,LYON,001,AIN,0010896U,COLLEGE INTERNATIONAL,01160,FERNEY VOLTAIRE,public,122.6,...,1.0,AUVERGNE-RHONE-ALPES,242.0,235.0,214.0,28.0,44.0,63.0,79.0,"91,1%"
4,2021-2022,LYON,001,AIN,0010938P,COLLEGE LES COTES,01289,PERONNAS,public,102.2,...,1.0,AUVERGNE-RHONE-ALPES,141.0,141.0,131.0,22.0,41.0,36.0,32.0,"92,9%"

In [175]:
timestr = time.strftime("%Y-%m-%d_%H-%M-%S")
file_name = "all_" + timestr + ".csv"
print(f"file name: {file_name}")
df_raw.to_csv(data_in + file_name, index = False)

file name: all_2022-11-01_16-23-33.csv

In [176]:
df_raw = df_raw.applymap(lambda x: x.lower() if type(x) == str else x)
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39058 entries, 0 to 32090
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   rentree_scolaire                 39058 non-null  object
 1   academie                         39058 non-null  object
 2   code_du_departement              39058 non-null  object
 3   departement                      39058 non-null  object
 4   uai                              39058 non-null  object
 5   nom_de_l_etablissment            39058 non-null  object
 6   code_insee_de_la_commune         39058 non-null  object
 7   nom_de_la_commune                39058 non-null  object
 8   secteur                          39058 non-null  object
 9   ips                              39053 non-null  float64
 10  type                             39058 non-null  object
 11  session                          6927 non-null   float64
 12  denomination_principale          6927 non-null   object
 13  patronyme                        6911 non-null   object
 14  secteur_d_enseignement           6927 non-null   object
 15  commune_et_arrondissement        6927 non-null   object
 16  commune_et_arrondissement_lib_l  6927 non-null   object
 17  departementright                 6927 non-null   object
 18  departement_libelle              6927 non-null   object
 19  academieright                    6927 non-null   float64
 20  academie_libelle                 6927 non-null   object
 21  region                           6927 non-null   float64
 22  region_libelle                   6927 non-null   object
 23  nombre_d_inscrits                6927 non-null   float64
 24  nombre_de_presents               6927 non-null   float64
 25  nombre_total_d_admis             6927 non-null   float64
 26  nombre_d_admis_sans_mention      6927 non-null   float64
 27  nombre_d_admis_mention_ab        6927 non-null   float64
 28  nombre_d_admis_mention_b         6927 non-null   float64
 29  nombre_d_admis_mention_tb        6927 non-null   float64
 30  taux_de_reussite                 6927 non-null   object
dtypes: float64(11), object(20)
memory usage: 9.5+ MB

In [177]:
df_raw.head()

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,...,region,region_libelle,nombre_d_inscrits,nombre_de_presents,nombre_total_d_admis,nombre_d_admis_sans_mention,nombre_d_admis_mention_ab,nombre_d_admis_mention_b,nombre_d_admis_mention_tb,taux_de_reussite
0,2021-2022,lyon,001,ain,0010025x,college paul sixdenier,01185,plateau d hauteville,public,110.4,...,1.0,auvergne-rhone-alpes,61.0,61.0,58.0,7.0,20.0,12.0,19.0,"95,1%"
1,2021-2022,lyon,001,ain,0010041p,college vaugelas,01244,meximieux,public,111.4,...,1.0,auvergne-rhone-alpes,236.0,233.0,207.0,26.0,55.0,53.0,73.0,"88,8%"
2,2021-2022,lyon,001,ain,0010092v,college prive saint joseph,01283,oyonnax,privé sous contrat,111.3,...,1.0,auvergne-rhone-alpes,120.0,120.0,111.0,20.0,28.0,36.0,27.0,"92,5%"
3,2021-2022,lyon,001,ain,0010896u,college international,01160,ferney voltaire,public,122.6,...,1.0,auvergne-rhone-alpes,242.0,235.0,214.0,28.0,44.0,63.0,79.0,"91,1%"
4,2021-2022,lyon,001,ain,0010938p,college les cotes,01289,peronnas,public,102.2,...,1.0,auvergne-rhone-alpes,141.0,141.0,131.0,22.0,41.0,36.0,32.0,"92,9%"

In [178]:
# compare difference between type and denomination_principale for type=college partial dataframe
(df_raw[df_raw["type"] == "college"]["type"] != df_raw[df_raw["type"] == "college"]["denomination_principale"]).value_counts()  #count

False    6927
True       40
dtype: int64

In [179]:
df_raw[df_raw["type"] == "college"][df_raw[df_raw["type"] == "college"]["type"] != df_raw[df_raw["type"] == "college"]["denomination_principale"]]

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,...,region,region_libelle,nombre_d_inscrits,nombre_de_presents,nombre_total_d_admis,nombre_d_admis_sans_mention,nombre_d_admis_mention_ab,nombre_d_admis_mention_b,nombre_d_admis_mention_tb,taux_de_reussite
68,2021-2022,nice,006,alpes-maritimes,0062181n,college arnaud beltrame,06090,pegomas,public,118.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,2021-2022,aix-marseille,013,bouches-du-rhone,0134342z,clg pr la nativite ste victoire,13001,aix en provence,privé sous contrat,137.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,2021-2022,rennes,035,ille-et-vilaine,0353006c,college prive leontine dolivet,35051,cesson sevigne,privé sous contrat,139.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,2021-2022,grenoble,073,savoie,0731372v,college prive la ribambelle,73164,montcel,privé sous contrat,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097,2021-2022,versailles,078,yvelines,0783774d,college andre chenier nouveau college (a absor...,78361,mantes la jolie,public,73.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1319,2021-2022,creteil,094,val-de-marne,0942482m,college samuel paty,94074,valenton,public,76.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1704,2021-2022,montpellier,030,gard,0301728r,college prive de la salle,30007,ales,privé sous contrat,100.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1729,2021-2022,toulouse,031,haute-garonne,0313045s,college de cintegabelle,31145,cintegabelle,public,105.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909,2021-2022,nantes,044,loire-atlantique,0442921l,college de loireauxence,44213,loireauxence,public,104.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2273,2021-2022,lyon,069,rhone,0694453r,college gisele halimi,69387,lyon 7e arrondissement,public,100.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2363,2021-2022,paris,075,paris,0754861b,college prive pour handicapes regain tournesol,75113,paris 13e arrondissement,privé sous contrat,146.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2709,2021-2022,la reunion,974,la reunion,9741649z,college prive catholique levavasseur,97418,sainte marie,privé sous contrat,133.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2751,2021-2022,aix-marseille,004,alpes-de-hte-provence,0040587s,eipaca,04112,manosque,public,132.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2830,2021-2022,aix-marseille,013,bouches-du-rhone,0133827p,ecole privee centre social du barry,13213,marseille 13e arrondissement,privé sous contrat,97.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2963,2021-2022,orleans-tours,028,eure-et-loir,0280756v,college jean moulin,28085,chartres,public,107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3054,2021-2022,montpellier,034,herault,0341726s,college prive nazareth,34172,montpellier,privé sous contrat,75.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3226,2021-2022,orleans-tours,045,loiret,0451787y,college des grandes plaines,45119,dadonville,public,91.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3227,2021-2022,orleans-tours,045,loiret,0451788z,college de pithiviers,45252,pithiviers,public,90.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3575,2021-2022,lyon,069,rhone,0694406p,college simone veil,69290,saint priest,public,94.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3620,2021-2022,grenoble,074,haute savoie,0740114x,college prive saint vincent,74082,collonges sous saleve,privé sous contrat,120.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3856,2021-2022,nantes,085,vendee,0851698j,college jacqueline auriol,85047,challans,public,96.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3860,2021-2022,poitiers,086,vienne,0861447f,college prive ensemble scolaire saint jacques ...,86194,poitiers,privé sous contrat,114.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,2021-2022,creteil,093,seine-saint-denis,0932772h,college prive sainte louise de marillac,93062,le raincy,privé sous contrat,106.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4092,2021-2022,la reunion,974,la reunion,9741654e,college prive medersa,97411,saint denis,privé sous contrat,104.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4510,2021-2022,bordeaux,033,gironde,0333484h,college,33272,marsas,public,102.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4854,2021-2022,nancy-metz,057,moselle,0573688z,ecole secondaire privee de l association rabbi...,57463,metz,privé sous contrat,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4913,2021-2022,lille,059,nord,0597115n,ecole europeenne de lille metropole college,59378,marcq en baroeul,public,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5085,2021-2022,lyon,069,rhone,0694279b,college prive notre dame site claudine thevenet,69019,belleville en beaujolais,privé sous contrat,107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5217,2021-2022,creteil,077,seine-et-marne,0772868z,college marthe simard,77514,villeparisis,public,108.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5440,2021-2022,creteil,093,seine-saint-denis,0932773j,college prive la salle le landy,93066,saint denis,privé sous contrat,108.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5539,2021-2022,la reunion,974,la reunion,9741763y,college roquefeuil,97415,saint paul,public,111.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5883,2021-2022,toulouse,031,haute-garonne,0313010d,college d escalquens,31169,escalquens,public,135.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5966,2021-2022,rennes,035,ille-et-vilaine,0353036k,college prive sainte marie,35241,la richardais,privé sous contrat,115.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5989,2021-2022,grenoble,038,isere,0382199j,college prive la terrasse,38503,la terrasse,privé sous contrat,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5998,2021-2022,grenoble,038,isere,0383542u,college de champier,38069,champier,public,106.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6217,2021-2022,dijon,058,nievre,0581009g,college le mont chatelet,58304,varzy,public,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6426,2021-2022,strasbourg,067,bas-rhin,0673017r,ecole europeenne de strasbourg (c),67482,strasbourg,public,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6427,2021-2022,strasbourg,067,bas-rhin,0673079h,ecole europeenne de strasbourg,67482,strasbourg,public,129.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6567,2021-2022,paris,075,paris,0756020l,college prive saint jean de dieu,75115,paris 15e arrondissement,privé sous contrat,92.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6695,2021-2022,toulouse,082,tarn-et-garonne,0820922g,college simone veil,82190,verdun sur garonne,public,109.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

40 colleges n'ont pas de resultats de brevets disponibles dans la base dnb

In [180]:
# renaming "privé sous contrat" in "prive"
df_raw.loc[df_raw["secteur"] == "privé sous contrat", "secteur"] = "prive"

In [181]:
#check if only 40 values are different 
(df_raw[df_raw["type"] == "college"]["secteur"] == df_raw[df_raw["type"] == "college"]["secteur_d_enseignement"]).value_counts()  #count

True     6927
False      40
dtype: int64

In [182]:
#check if only 40 values are different 
(df_raw[df_raw["type"] == "college"]["code_insee_de_la_commune"] == df_raw[df_raw["type"] == "college"]["commune_et_arrondissement"]).value_counts()  #count

True     6927
False      40
dtype: int64

In [183]:
#check if only 40 values are different 
(df_raw[df_raw["type"] == "college"]["code_du_departement"] == df_raw[df_raw["type"] == "college"]["departementright"]).value_counts()  #count

True     6927
False      40
dtype: int64

In [184]:
(df_raw[df_raw["type"] == "college"]["departement"] == df_raw[df_raw["type"] == "college"]["departement_libelle"]).value_counts()  #count

True     6927
False      40
dtype: int64

In [185]:
(df_raw[df_raw["type"] == "college"]["academie"] == df_raw[df_raw["type"] == "college"]["academie_libelle"]).value_counts()  #count

True     6927
False      40
dtype: int64

In [187]:
# Removing joined columns not bringing any value
df_raw.drop(columns=['session', 'denomination_principale', 'secteur_d_enseignement', 'commune_et_arrondissement', 'commune_et_arrondissement_lib_l', 'departementright', 
                     'departement_libelle', 'academieright', 'academie_libelle', 'region', 'region_libelle'], 
        errors='ignore', 
        inplace=True)

df_raw.head()

,rentree_scolaire,academie,code_du_departement,departement,uai,nom_de_l_etablissment,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,type,patronyme,nombre_d_inscrits,nombre_de_presents,nombre_total_d_admis,nombre_d_admis_sans_mention,nombre_d_admis_mention_ab,nombre_d_admis_mention_b,nombre_d_admis_mention_tb,taux_de_reussite
0,2021-2022,lyon,001,ain,0010025x,college paul sixdenier,01185,plateau d hauteville,public,110.4,college,paul sixdenier,61.0,61.0,58.0,7.0,20.0,12.0,19.0,"95,1%"
1,2021-2022,lyon,001,ain,0010041p,college vaugelas,01244,meximieux,public,111.4,college,vaugelas,236.0,233.0,207.0,26.0,55.0,53.0,73.0,"88,8%"
2,2021-2022,lyon,001,ain,0010092v,college prive saint joseph,01283,oyonnax,prive,111.3,college,saint joseph,120.0,120.0,111.0,20.0,28.0,36.0,27.0,"92,5%"
3,2021-2022,lyon,001,ain,0010896u,college international,01160,ferney voltaire,public,122.6,college,international,242.0,235.0,214.0,28.0,44.0,63.0,79.0,"91,1%"
4,2021-2022,lyon,001,ain,0010938p,college les cotes,01289,peronnas,public,102.2,college,les cotes,141.0,141.0,131.0,22.0,41.0,36.0,32.0,"92,9%"

In [188]:
# Creating a copy of the dataframe
df = df_raw.copy()

In [193]:
# Moving columns
uai = df.pop('uai')
df.insert(0, 'uai', uai)
del uai

nom_de_l_etablissment = df.pop('nom_de_l_etablissment')
df.insert(1, 'nom_de_l_etablissment', nom_de_l_etablissment)
del nom_de_l_etablissment

patronyme = df.pop('patronyme')
df.insert(2, 'patronyme', patronyme)
del patronyme

type = df.pop('type')
df.insert(3, 'type', type)
del type

rentree_scolaire = df.pop('rentree_scolaire')
df.insert(11, 'rentree_scolaire', rentree_scolaire)
del rentree_scolaire

df.head()

,uai,nom_de_l_etablissment,patronyme,type,academie,code_du_departement,departement,code_insee_de_la_commune,nom_de_la_commune,secteur,ips,rentree_scolaire,nombre_d_inscrits,nombre_de_presents,nombre_total_d_admis,nombre_d_admis_sans_mention,nombre_d_admis_mention_ab,nombre_d_admis_mention_b,nombre_d_admis_mention_tb,taux_de_reussite
0,0010025x,college paul sixdenier,paul sixdenier,college,lyon,001,ain,01185,plateau d hauteville,public,110.4,2021-2022,61.0,61.0,58.0,7.0,20.0,12.0,19.0,"95,1%"
1,0010041p,college vaugelas,vaugelas,college,lyon,001,ain,01244,meximieux,public,111.4,2021-2022,236.0,233.0,207.0,26.0,55.0,53.0,73.0,"88,8%"
2,0010092v,college prive saint joseph,saint joseph,college,lyon,001,ain,01283,oyonnax,prive,111.3,2021-2022,120.0,120.0,111.0,20.0,28.0,36.0,27.0,"92,5%"
3,0010896u,college international,international,college,lyon,001,ain,01160,ferney voltaire,public,122.6,2021-2022,242.0,235.0,214.0,28.0,44.0,63.0,79.0,"91,1%"
4,0010938p,college les cotes,les cotes,college,lyon,001,ain,01289,peronnas,public,102.2,2021-2022,141.0,141.0,131.0,22.0,41.0,36.0,32.0,"92,9%"

In [194]:
timestr = time.strftime("%Y-%m-%d_%H-%M-%S")
file_name = "trash_" + timestr + ".csv"
print(f"file name: {file_name}")
df.to_csv(data_in + file_name, index = False)

file name: trash_2022-11-01_16-39-34.csv